﻿@model Dictionary<string, object>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Newtonsoft.Json;

<script>
    @{
        Common cmd = new Common();
        var title = Html.Raw(Model["title"]).ToString().Split("&");
        var columnassign = Html.Raw(Model["columnassign"]).ToString().Split("&");
        string table = Model["table"].ToString();
        string sub_class = Model["subclass"].ToString();
        var ipt = "";
        if (sub_class != "")
        {
            ipt = "<span class='notnulls'>(*)</span>";
        }
        
        Sqlcommon sql = new Sqlcommon();
        string str_au = "select name_,id from " + table + " where "+cmd.strNotdelete();
        str_au = str_au + " order by name_ desc";
        var datas = sql.getdataSQLstr(str_au);

    }
    function choosedropdowone(o) {
        var vl1 = $(".dropone").find(":selected").val();
        var vl2 = $(".droptwo").find(":selected").val();
        if (vl1 == vl2) {
            alert("Không chọn kho xuất trùng với kho nhập")
            $(o).find("option:eq(0)").prop("selected", true);
            return false;
        }
    }
</script>

<div class="twodropdowdata @sub_class">
   
    <select class="select-data  dropone @columnassign[0]" onchange="choosedropdowone(this)" name="@columnassign[0]">
        <option value="-1">Chọn ---</option>
        @foreach (var i in datas)
        {
            <option value="@i["id"]" id_="@i["id"]">@i["name_"]</option>
        }
    </select>
    <p></p>
    <span>@title[1]</span>
    <select class="select-data droptwo @columnassign[1]" onchange="choosedropdowone(this)" name="@columnassign[1]">
        <option value="-1">Chọn ---</option>
        @foreach (var i in datas)
        {
            <option value="@i["id"]" id_="@i["id"]">@i["name_"]</option>
        }
    </select>
</div>
