﻿@{
    SqlTable sql = new SqlTable();
    List<string> tables = sql.GetTableNames().OrderBy(s => s).ToList();
}
<style>
    .nocreate {
        opacity: 0.6
    }

    .cl-sql {
        padding: 5px;
        background: brown;
        color: #fff;
        margin: 5px;
        cursor: pointer;
        float: left;
    }

    ul {
        list-style-type: none
    }

    .vtutorial {
        cursor: pointer
    }
</style>
<script>
    $(document).ready(function () {
        $(".sortorder").sortable();
        $(".sortorder").disableSelection();
        $(".sl-getdata").change(function () {
            var tb = $(this).find("option:selected").text();
            var link = "/api/sqlCtr/Getcolumntable?table=" + tb;
            var data = JSON.parse(GetAjax(link));
            var idcontent = $(this).attr("iddiv");
            $("#" + idcontent).empty();
            for (var i = 0; i < data.length; i++) {
                var d = data[i];
                var p = '<option value="' + d.name + '">' + d.name + '</option>';
                $(p).appendTo("#" + idcontent);
            }
        });
        $(".btn_datatype").click(function () {

            var div = $(this).attr("div-data");
            $(".sub_data_type").each(function (index) {
                if ($(this).prop('checked')) {
                    var v = $(this).attr("name_vl");
                    if ($(this).hasClass("getdata")) {
                        var sub = $(this).parent().find("select option:selected").val();
                        if (v == "strings_sub-" || v =="tooltip-")
                            v = v + sub;
                        else {
                            var idcolumn = $(this).attr("iddiv");
                            v = v + sub + "-" + $("#" + idcolumn).find("option:selected").val();
                        }
                        if ($("#wheredata").val() != "")
                            v = v + "-" + $("#wheredata").val();
                    }
                    else if (v == "date") {
                        if ($("#wheredata").val() != "")
                            v = v + "-" + $("#wheredata").val();

                    }
                    else if (v == "seoString") {
                        if ($("#cl_seo").val() == "") {
                            alert("nhập data lấy seo");
                            return false;
                        }
                        v = v + "-" + $("#cl_seo").val();
                    } 
                    else if (v == "calculator") {
                        if ($("#cl_calculator").val() == "") {
                            alert("nhập data lấy calculator");
                            return false;
                        }
                        v = v + "?" + $("#cl_calculator").val();
                    } 
                    else if (v == "statusiv") {
                        if ($("#statusivtxt").val() == "") {
                            alert("nhập data lấy trạng thái");
                            return false;
                        }
                        v = v + "-" + $("#statusivtxt").val();
                    } 
                    else if (v == "mapbill") {
                        if ($("#maptxt").val() == "") {
                            alert("nhập data map");
                            return false;
                        }
                        v = v + "-" + $("#maptxt").val();
                    }
                    else if (v == "txtbind") {
                        if ($("#cl_txtbind").val() == "") {
                            alert("nhập class html ");
                            return false;
                        }
                        v = v + "-" + $("#cl_txtbind").val();
                    }
                    else if (v == "jsoninfor") {
                        if ($("#wheredata").val()!= "") {
                            v = v + "-" + $("#wheredata").val();
                        }
                    } 
                    else if (v == "textbind") {
                        if ($("#cl_textbind").val() == "") {
                            alert("nhập class html ");
                            return false;
                        }
                        v = v + "-" + $("#cl_textbind").val();
                    }
                    else if (v == "inputandbind") {
                        if ($("#inputandbindtxt").val() == "") {
                            alert("nhập class html ");
                            return false;
                        }
                        v = v + "-" + $("#inputandbindtxt").val();
                    } 
                    else if (v == "viewJson") {
                        if ($("#cl_btnjson").val() == "") {
                            alert("nhập data lấy cấu hình");
                            return false;
                        }
                        v = v + "-" + $("#cl_btnjson").val();
                    } 
                    else if (v == "importbtn") {
                        if ($("#importbtntxt").val() == "") {
                            alert("nhập data ");
                            return false;
                        }
                        v = v + "-" + $("#importbtntxt").val();
                    }
                    else if (v == "salebtn") {
                        if ($("#salebtntxt").val() == "") {
                            alert("nhập data ");
                            return false;
                        }
                        v = v + "-" + $("#salebtntxt").val();
                    }
                    else if (v == "connectcl") {
                        if ($("#connectcltxt").val() == "") {
                            alert("nhập column lấy ");
                            return false;
                        }
                        v = v + "-" + $("#connectcltxt").val();
                    } 
                    else if (v == "giftcode") {
                        if ($("#giftcodetxt").val() == "") {
                            alert("nhập data lấy giftcode");
                            return false;
                        }
                        v = v + "-" + $("#giftcodetxt").val();
                    }
                    else if (v == "address") {
                        if ($("#cl_address").val() == "") {
                            alert("nhập data lấy address");
                            return false;
                        }
                        v = v + "-" + $("#cl_address").val();
                    }
                    var s = createliItem(v);
                    if (div == "type_add")
                        $(s).appendTo("#type-data-input");
                    else if (div == "typedl_add")
                        $(s).appendTo("#type-datadl-input");
                    else if (div == "typeexp_add")
                        $(s).appendTo("#type-dataexp-input");
                }
            });
        });
    })
    function createliItem(a) {
        var s = "<li class='cl-sql' ondblclick='$(this).remove()'>" + a + "</li>";
        return s;
    }
    function viewtutorial(o) {

        var s = $("#p-" + o).clone();
        $(".bdtutorial").empty();
        $(s).appendTo(".bdtutorial");

        $("#tutorial").modal("show");
    }
</script>
<div class="huongdan" style="display:none">
    <p class="p-tutorial" id="p-textbind">VD: textbind-txtprice-kiểu data (mặc định là strings)</p>
    <div class="p-tutorial" id="p-txtbind">
        VD: txtbind-txtprice-kiểu data (mặc định là strings)

    </div>
    <p class="p-tutorial" id="p-attribute">là tab cho phép thêm dữ liệu phụ</p>
    <p class="p-tutorial" id="p-strnumbers">cho nhập số nhưng ko format dấu ","</p>
    <p class="p-tutorial" id="p-strings_sub">
        chọn nhiều record trong table (kèm theo điều kiện nếu cần)<br />
        VD ĐK: id=1 OR isroot<>1 => strings_sub-menus-id=1 OR isroot<>1<br />
        lấy data menus với where id=1 OR isroot
    </p>
    <p class="p-tutorial" id="p-calculator">
        VD ĐK: qlt/x/price&x/10(hoặc cl khác)&.....<br />
        lấy qlt nhân price sau đó x với 10 hoac cl khác, cứ tiếp tục
    </p>
    <p class="p-tutorial" id="p-autocomplet">
        chú ý: ko chọn column id để thay code<br />
        chọn 1 record (theo column) trong table theo dạng autocompleat (kèm theo điều kiện nếu cần)<br />
        VD ĐK: id=1 OR isroot<>1 => reference-menus-code-id=1 OR isroot<>1<br />
        lấy column name_ và code trong menus với where id=1 OR isroot<>1 (khi luu data sẽ luu code hoặc column chọn)
    </p>

    <p class="p-tutorial" id="p-valuefrom">
        dang xem
    </p>
    <p class="p-tutorial" id="p-viewfrom">
        xuất hiện nút view dữ liệu con (dữ liệu con chứa data cha (=> query Like)) trong phần hiển thị (kèm theo điều kiện nếu cần)<br />
        VD ĐK: code => viewfrom-attribute_table-code1-code
        <br />
        Giải thích: lấy tất cả record trong attribute_table có column code1 Like giá trị truyền vào là column "code" trong table cha
    </p>
    <p class="p-tutorial" id="p-datain">
        xuất hiện nút view dữ liệu con (dữ liệu cha chứa data con (=> query in)) trong phần hiển thị (kèm theo điều kiện nếu cần)<br />
        VD ĐK: submenu => datain-menus-id-submenu
        <br />
        Giải thích: lấy tất cả record trong menus có column id nằm trong giá trị truyền vào với column là submenu trong table gọi
    </p>
    <p class="p-tutorial" id="p-dropdowdata">
        select option data (kèm theo điều kiện nếu cần)<br />
        VD ĐK: id=1 => dropdowdata-category-id-id=1
        <br />
        Giải thích: lấy column name_ và id (hoặc khác) trong category với where id=1 (khi luu data sẽ luu id hoặc column chọn)

    </p>
    <p class="p-tutorial" id="p-twodropdowdata">
        select option data (kèm theo điều kiện nếu cần)<br />
        VD ĐK:twodropdowdata-warehouse-id-kho xuất&kho nhập/warehouseexport&warehouseimport
        <br />
       
    </p>
    <p class="p-tutorial" id="p-dropdowbinddata">
        select option data và bind data vào class html (trong diều kiện)<br />
        <span>Dùng tạo hóa đơn</span><br />
        VD ĐK: class1&column1/class2&column2 => dropdowdata-category-id-class1&column1/class2&column2
        <br />
        Giải thích: lấy column name_ và id (hoặc khác) trong category với bind data column1 vào html class1,...

    </p>
    <p class="p-tutorial" id="p-addfrom">
        add sản phẩm từ table con (kèm theo điều kiện kết nối)<br />
        VD ĐK: code => addfrom-products-codedescr-code
        <br />
        Giải thích: thên sản phẩm và "gán" giá trị code (kiểu data là code) trong table góc vào column codedescr của table sản phẩm

    </p>
    <p class="p-tutorial" id="p-datafromcolumn">
        lấy data từ table con (kèm theo điều kiện kết nối)<br />
        VD ĐK: datafromcolumn-customers-id-phone-phone
        <br />
        Giải thích: lấy id tabl2 customer với dk : phone trong table=giá trị phone trong table khác

    </p>
    <p class="p-tutorial" id="p-getvlfromkey">
        lấy name sản phẩm từ table con <br />
        VD getvlfromkey-category-id
        <br />
        Giải thích: lấy name category từ column id của category

    </p>
    <p class="p-tutorial" id="p-getalldata">
        lấy tất cả record từ table con (ko cần lưu trong table cha, chỉ cần table con có data)<br />
        VD getalltable-category-name_-id=1
        <br />
        Giải thích: lấy tất cả name_ category với diều kiện id=1

    </p>
    <div class="p-tutorial" id="p-pathupload">
        <p>Path update(path;foldel1,foldel1;isbarcode(true hay false))</p>
        <p>VD: D:\WebClient\WebClient\wwwroot\imgWeb\;producttypes;false =>tạo folder producttypes và lưu file trong "imgWeb\producttypes" ko tạo barcode trong hình (true => tạo barcode) </p>
        <p>VD: D:\fancydev_release\wwwroot\imgWeb\;san_pham,reaplace-mainobject-id_;false =>tạo folder "san_pham" , lấy thuộc tính html "id_" trong input column "mainobject" để tạo folder con và lưu file trong "imgWeb\san_pham\newfolder" ko tạo barcode trong hình (true => tạo barcode) </p>
        <p>VD: D:\fancydev_release\wwwroot\imgWeb\;san_pham,parent-catelogy-id_;false =>tạo folder "san_pham" => lấy thuộc tính html id_ column catelogy trong table cha</p>
        <p>VD: D:\fancydev_release\wwwroot\imgWeb\;san_pham,Month;false =>tạo folder "san_pham" và tháng </p>
    </div>
    <div class="p-tutorial" id="p-address">
        Kiểu data có thành phố , quận huyện
        <p>
            VD: Address-columnaddress-columncity-columnward-columndistrict
        </p>
        <p>Chú ý khi chọn kiểu này thì trong column nhập chỉ chọn 1 cột là columnaddress</p>
    </div>

</div>
<div class="modal" id="tutorial">
    <div class="modal-dialog">
        <div class="modal-content">


            <!-- Modal body -->
            <div class="modal-body bdtutorial">

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal" id="close">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="sub_div sub_datatype">
    <div id="data-datatype">
        <p><input type="checkbox" class="sub_data_type" name_vl="birthday" id="birthday"><label for="birthday">sinh nhật (auto :datetime)</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="membercard" id="membercard"><label for="membercard">member card</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="statusinvoice" id="statusinvoice"><label for="statusinvoice">xử lý hd</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="datebill" id="datebill"><label for="datebill">Date bill</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="notestatusbill" id="notestatusbill"><label for="notestatusbill">ghi chú trạng thái bill</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="detailinvent" id="detailinvent"><label for="detailinvent">Xem tồn kho</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="waitbind" id="waitbind"><label for="waitbind">data rỗng chờ auto bind</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="invoicenumber" id="invoicenumber"><label for="invoicenumber">số hd</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="importbtn" id="importbtn"><label for="importbtn">Button nhập kho</label><input type="text" style="width:100%" id="importbtntxt" placeholder="table" /></p>

        <p><input type="checkbox" class="sub_data_type" name_vl="editbtn" id="editbtn"><label for="editbtn">Button chỉnh sửa</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="deletebtn" id="deletebtn"><label for="deletebtn">Button delete</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="salebtn" id="salebtn"><label for="salebtn">Button xuất bán</label><input type="text" style="width:100%" id="salebtntxt" placeholder="table" /></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="statusiv" id="statusiv"><label for="statusiv">Trạng thái hóa đơn</label><input type="text" style="width:100%" id="statusivtxt" placeholder="table" /></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="connectcl" id="connectcl"><label for="connectcl">nối data Json chỉ trong view</label><input type="text" style="width:100%" id="connectcltxt" placeholder="cl1/cl2/.." /></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="giftcode" id="giftcode"><label for="giftcode">giftcode</label><input type="text" style="width:100%" id="gifcodetxt" placeholder="table-clcompare-clvalue-columnget&clbind/..." /></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="printjson" id="printjson"><label for="printjson">print json</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="inputandbind" id="inputandbind"><label for="inputandbind">Lấy data và bind vao ctr</label><input type="text" style="width:100%" id="inputandbindtxt" placeholder="table-columnget-classhtmlbind1-..." /></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="mapbill" id="mapbill"><label for="mapbill">Lấy data từ bill root</label><input type="text" style="width:100%" id="maptxt" placeholder="trường trong data bill" /></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="jsondetail" id="jsondetail"><label for="jsondetail">Json detail bill</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="idproduct" id="idproduct"><label for="idproduct">Id sản phẩm</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="jsoninfor" id="jsoninfor"><label for="jsoninfor">Json thông tin bill</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="datatype" id="datatype"><label for="datatype">chọn kiểu dl</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="mapdatatable" id="mapdatatable"><label for="mapdatatable">map table (dùng trong hóa đơn)</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="maptbtable" id="maptbtable"><label for="maptbtable">map table to table (dùng trong hóa đơn)</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="calculator" id="calculator"><label for="calculator">tính toán</label><input type="text" style="width:100%" id="cl_calculator" placeholder="cl1/phép tính/cl2 " /><span class="vtutorial" onclick="viewtutorial('calculator')">=></span></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="txtbind" id="txtbind"><label for="txtbind">txt bind</label><input type="text" style="width:100%" id="cl_txtbind" placeholder="class html" /><span class="vtutorial" onclick="viewtutorial('txtbind')">=></span></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="textbind" id="textbind"><label for="textbind">textbox bind</label><input type="text" style="width:100%" id="cl_textbind" placeholder="class html" /><span class="vtutorial" onclick="viewtutorial('textbind')">=></span></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="sott" id="sott"><label for="sott">số tt</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="permision" id="permision"><label for="permision">phân quyền</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="seoString" id="seostring"><label for="seostring">seo string</label><input type="text" style="width:100%" id="cl_seo" placeholder="cột lấy data (VD: name_) trong cl nhập " /></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="address" id="address"><label for="address">address</label><span class="vtutorial" onclick="viewtutorial('address')">=></span><input type="text" style="width:100%" id="cl_address" placeholder="column gán data" /></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="viewJson" id="viewJson"><label for="viewJson">button view Json</label><span class="vtutorial" onclick="viewtutorial('viewJson')">=></span><input type="text" style="width:100%" id="cl_btnjson" placeholder="table lấy tiêu đề hiển thị" /></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="color" id="color"><label for="color">color</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="code" id="code"><label for="code">code</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="attribute" id="attribute"><label for="attribute">attribute</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="strings" id="strings"><label for="strings">strings</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="password" id="password"><label for="password">password</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="email" id="email"><label for="email">email</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="date" id="date"><label for="date">Datetime</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="textarea" id="textarea"><label for="textarea">textarea</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="ricktext" id="ricktext"><label for="ricktext">ricktext</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="numbers" id="numbers"><label for="numbers">numbers</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="strnumbers" id="strnumbers"><label for="strnumbers">string numbers</label> <span class="vtutorial" onclick="viewtutorial('strnumbers')">=></span></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="check" id="check"><label for="check">check box</label></p>
        <p><input type="checkbox" class="sub_data_type" name_vl="photo" id="photo"><label for="photo">photo</label></p>
        @*<p><input type="checkbox" class="sub_data_type" name_vl="option" id="option"><label for="option">option</label></p>*@
        <p>
            <input type="checkbox" class="sub_data_type getdata" name_vl="tooltip-" id="tooltip"><label for="tootlip">tooltip</label><span class="vtutorial" onclick="viewtutorial('tootip')"> =></span><span>
                <select id="sl-tooltip">
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
        </p>
        <p>
            <input type="checkbox" class="sub_data_type getdata" name_vl="strings_sub-" id="strings_sub"><label for="strings_sub">data table</label><span class="vtutorial" onclick="viewtutorial('strings_sub')"> =></span><span>
                <select id="sl-subtable">
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
        </p>
        <p>
            <input type="checkbox" class="sub_data_type getdata" iddiv="cl-reference" name_vl="reference-" id="autocomplet"><label for="autocomplet">autocomplet</label> <span class="vtutorial" onclick="viewtutorial('autocomplet')">=></span>
            <span>
                <select id="sl-reference" class="sl-getdata" iddiv="cl-reference">
                    <option value="-1">Chọn table</option>
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
            <span>
                <select id="cl-reference">
                </select>
            </span>
        </p>
        <p>
            <input type="checkbox" class="sub_data_type getdata" iddiv="cl-valuefrom" name_vl="valuefrom-" id="valuefrom"><label for="valuefrom">lấy value</label> <span class="vtutorial" onclick="viewtutorial('valuefrom')">=></span>
            <span>
                <select id="sl-valuefrom" class="sl-getdata" iddiv="cl-valuefrom">
                    <option value="-1">Chọn table</option>
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
            <span>
                <select id="cl-valuefrom">
                </select>
            </span>
        </p>
        <p>
            <input type="checkbox" class="sub_data_type getdata" iddiv="cl-viewfrom" name_vl="viewfrom-" id="viewfrom"><label for="viewfrom">button view</label> <span class="vtutorial" onclick="viewtutorial('viewfrom')">=></span>
            <span>
                <select id="sl-viewfrom" class="sl-getdata" iddiv="cl-viewfrom">
                    <option value="-1">Chọn table</option>
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
            <span>
                <select id="cl-viewfrom">
                </select>
            </span>
        </p>
        <p>
            <input type="checkbox" class="sub_data_type getdata" iddiv="cl-addfrom" name_vl="addfrom-" id="addfrom"><label for="addfrom">button add</label> <span class="vtutorial" onclick="viewtutorial('addfrom')">=></span>
            <span>
                <select id="sl-addfrom" class="sl-getdata" iddiv="cl-addfrom">
                    <option value="-1">Chọn table</option>
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
            <span>
                <select id="cl-addfrom">
                </select>
            </span>
        </p>
        <p>
            <input type="checkbox" class="sub_data_type getdata" iddiv="cl-optionone" name_vl="optionone-" id="optionone"><label for="optionone">option</label>
            <br />
            <span>
                <select id="sl-optionone" class="sl-getdata" iddiv="cl-optionone">
                    <option value="-1">Chọn table</option>
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
            <span>
                <select id="cl-optionone">
                </select>
            </span>
        </p>
        <p>
            <input type="checkbox" class="sub_data_type getdata" iddiv="cl-getvlfromkey" name_vl="getvlfromkey-" id="getvlfromkey"><label for="getvlfromkey">Get value from key</label><span class="vtutorial" onclick="viewtutorial('getvlfromkey')"> =></span>
            <span>
                <select id="sl-addfrom" class="sl-getdata" iddiv="cl-getvlfromkey">
                    <option value="-1">Chọn table</option>
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
            <span>
                <select id="cl-getvlfromkey">
                </select>
            </span>
        </p>
        <p>
            <input type="checkbox" class="sub_data_type getdata" iddiv="cl-dropdowbinddata" name_vl="dropdowbinddata-" id="dropdowbinddata"><label for="dropdowbinddata">Dropdow bind data</label> <span class="vtutorial" onclick="viewtutorial('dropdowbinddata')"> =></span>
            <span>
                <select id="sl-dropdowbinddata" class="sl-getdata" iddiv="cl-dropdowbinddata">
                    <option value="-1">Chọn table</option>
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
            <span>
                <select id="cl-dropdowbinddata">
                </select>
            </span>
        </p>
        <p>
            <input type="checkbox" class="sub_data_type getdata" iddiv="cl-dropdowdata" name_vl="dropdowdata-" id="dropdowdata"><label for="dropdowdata">Dropdow data</label> <span class="vtutorial" onclick="viewtutorial('dropdowdata')"> =></span>
            <span>
                <select id="sl-dropdowdata" class="sl-getdata" iddiv="cl-dropdowdata">
                    <option value="-1">Chọn table</option>
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
            <span>
                <select id="cl-dropdowdata">
                </select>
            </span>
        </p>
        <p>
            <input type="checkbox" class="sub_data_type getdata" iddiv="cl-twodropdowdata" name_vl="twodropdowdata-" id="twodropdowdata"><label for="twodropdowdata">2 Dropdow data</label> <span class="vtutorial" onclick="viewtutorial('twodropdowdata')"> =></span>
            <span>
                <select id="sl-twodropdowdata" class="sl-getdata" iddiv="cl-twodropdowdata">
                    <option value="-1">Chọn table</option>
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
            <span>
                <select id="cl-twodropdowdata">
                </select>
            </span>
        </p>
        <p>
            <input type="checkbox" class="sub_data_type getdata" iddiv="cl-subdata" name_vl="subdata-" id="subdata"><label for="subdata">sub data</label>
            <span>
                <select id="sl-subdata" class="sl-getdata" iddiv="cl-subdata">
                    <option value="-1">Chọn table</option>
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
            <span>
                <select id="cl-subdata">
                </select>
            </span>
        </p>
        <p>
            <input type="checkbox" class="sub_data_type getdata" iddiv="cl-datain" name_vl="datain-" id="datain"><label for="datain">View in data</label> <span class="vtutorial" onclick="viewtutorial('datain')">=></span>
            <span>
                <select id="sl-datain" class="sl-getdata" iddiv="cl-datain">
                    <option value="-1">Chọn table</option>
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
            <span>
                <select id="cl-datain">
                </select>
            </span>
        </p>
        <p>
            <input type="checkbox" class="sub_data_type getdata" iddiv="cl-getalldata" name_vl="getalldata-" id="getalldata"><label for="getalldata">get all data</label> <span class="vtutorial" onclick="viewtutorial('getalldata')">=></span>
            <br />
            <span>
                <select id="sl-getalldata" class="sl-getdata" iddiv="cl-getalldata">
                    <option value="-1">Chọn table</option>
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
            <span>
                <select id="cl-getalldata">
                </select>
            </span>
        </p>
        <p>
            <input type="checkbox" class="sub_data_type getdata" iddiv="cl-datafromcolumn" name_vl="datafromcolumn-" id="datafromcolumn"><label for="datafromcolumn">get data từ column khác</label> <span class="vtutorial" onclick="viewtutorial('datafromcolumn')">=></span>
            <br />
            <span>
                <select id="sl-datafromcolumn" class="sl-getdata" iddiv="cl-datafromcolumn">
                    <option value="-1">Chọn table</option>
                    @foreach (var i in tables)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </span>
            <span>
                <select id="cl-datafromcolumn">
                </select>
            </span>
        </p>
    </div>
    <p>
        <input type="text" value="" placeholder="VD:(id=?-cl so sánh)(none=>bỏ wa đk)" style="width:100%" id="wheredata" />
        <input type="button" style="float:left" class="button" value="Cancel" onclick="$('.sub_div').hide()">
        <input type="button" style="float:right" class="button btn_datatype" obj="content_producttype" value="Save">
    </p>
</div>