﻿@model Dictionary<string, object>
@using Newtonsoft.Json;
@{ 
    var cls = Model["column"].ToString().Split("/");
    var j = JsonConvert.DeserializeObject<List<dynamic>>(Model["column"].ToString());

}
<div>sd dsdd</div>