﻿@model Webserver.Models.ConfigTable
@{
    ViewData["Title"] = "CreateConfig";
    var isnocreate = "0";
    var nocreate = "";
    try
    {
        isnocreate = Model.laction[0];
        if (isnocreate == "1")
        {
            nocreate = "nocreate";
        }
    }
    catch { }
}


<script>
        $(function () {
               var model = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ltable))';
            var data = JSON.parse(model);
            autocomplet("#tabledata", data);
            $("#titleinput").on('keyup', function (e) {
                if (e.keyCode === 13) {
                    addtitle();
                }
            });

        })
        function getcolumntable() {
            var tb = $("#tabledata").val();
            if (tb == "")
                return false;
            var link = "/api/sqlCtr/Getcolumntable?table=" + tb;

            var data = JSON.parse(GetAjax(link));
   
            $("#data-columns").empty();
            for (var i = 0; i < data.length; i++) {
                var d = data[i];
                var p = '<p><input type="checkbox" class="sub_data_column" values="' + d.name + '" name_vl="' + d.name + '" id="' + d.name + '"><label for="' + d.name + '">' + d.name +'</label></p>';
                $(p).appendTo("#data-columns");
            }
    }
   
    function createli(a,vl) {
        if (vl != "") {
            for (var i = 0; i < vl.length; i++) {
                $(createliItem(vl[i])).appendTo(a);
            }
        }
    }
    function importlitotext(ul, txt) {

            var vl = [];
            $(ul + " li").each(function (index) {
                vl.push($(this).html());
            });
            $(txt).val(vl.toString());
   
    }
    window.onload = function (e) {
        var table = $("#tabledata").val();
        if (table != "") {
            var txt_title = $("#txt-title").val().split(",");
            createli("#title-input", txt_title);
            var txt_gv = $("#txt-gv").val().split(",");
            createli("#title-gv-input", txt_gv);
            var txt_input = $("#txt-input").val().split(",");
            createli("#cl-input", txt_input);
          
            var txt_input_gv = $("#txt-input-gv").val().split(",");
            createli("#gv-input", txt_input_gv);

            var txt_type = $("#txt-type").val().split(",");
            createli("#type-data-input", txt_type);
            var txt_typedl = $("#txt-typedl").val().split(",");
            createli("#type-datadl-input", txt_typedl);

            var txt_valid = $("#txt-valid").val().split(",");
            createli("#valid-input", txt_valid);
            var txt_key = $("#txt-key").val().split(",");
            createli("#Key-input", txt_key);
            var txt_sort = $("#txt-Sort").val().split(",");
            createli("#Sort-input", txt_sort);
           // var txt_export = $("#txt-typeexp").val().split(",");
           // createli("#type-dataexp-input", txt_export);
            
            var Key_attr = $("#txt-attrtab").val().split(",");
            createli("#Key-attr", Key_attr);

            var Key_seo = $("#txt-seotab").val().split(",");
            createli("#Key-seo", Key_seo);

        }
           
    }
    function addtitle() {
        var v = $("#titleinput").val();
        var nocreate = $("#titleinput").attr("nocreate");
        if (v != "") {
            var s = createliItem(v);
            $(s).appendTo("#title-gv-input");
            if (nocreate!="1")
            $(s).appendTo("#title-input");
            $("#titleinput").val('');
            $("#titleinput").focus();
        }
    }
    $(document).ready(function () {
        $("#tabledata").focus();
        $(".sortorder").sortable();
        $(".sortorder").disableSelection();
        $("#savedata").click(function () {
            importlitotext("#title-input", "#txt-title");
            importlitotext("#title-gv-input", "#txt-gv");
            importlitotext("#cl-input", "#txt-input");
            importlitotext("#gv-input", "#txt-input-gv");
            importlitotext("#type-data-input", "#txt-type");
            importlitotext("#type-datadl-input", "#txt-typedl");
            importlitotext("#valid-input", "#txt-valid");
            importlitotext("#Key-input", "#txt-key");
            importlitotext("#Sort-input", "#txt-Sort");
            importlitotext("#Search-input", "#txt-search");
            importlitotext("#type-dataexp-input", "#txt-typeexp");

            importlitotext("#Key-attr", "#txt-attrtab");
            importlitotext("#Key-seo", "#txt-seotab");
           
            //return false;
        });
        
     
        $(".column-add").click(function () {
            var div = $(this).attr("div-data");
                $(".sub_columns").attr("div-data", div);
                $(".sub_columns").show();
        });
        $(".type-add").click(function () {
            $(".sub_data_type").prop("checked", false);
            $(".sub_datatype").show();
            $(".btn_datatype").attr("div-data","type_add")
        });
        $(".typedl-add").click(function () {
            $(".sub_data_type").prop("checked", false);
            $(".sub_datatype").show();
            $(".btn_datatype").attr("div-data", "typedl_add")
        });
        $(".typeexp-add").click(function () {
            $(".sub_data_type").prop("checked", false);
            $(".sub_datatype").show();
            $(".btn_datatype").attr("div-data", "typeexp_add")
        });
        $(".title-add").click(function () {
            addtitle();
      
        });
        
        $(".btn_sub_data").click(function () {
         
           var div= $(".sub_columns").attr("div-data");
                $(".sub_data_column").each(function (index) {
                    if ($(this).prop('checked')) {
                        var vl_ = $(this).attr("name_vl");
                        if ($("#subwhere").val() != "")
                            vl_ = vl_ + "-" + $("#subwhere").val();
                         var s = createliItem(vl_);
                        $(s).appendTo("#" + div);

                    }
                });
        });
   
       
    });
    function changetabseo() {
        if ($('#checkseo').is(":checked"))
            $("#txt-seotab").val("1");
        else
            $("#txt-seotab").val("0");
    }
    function changetabattr() {
        if ($('#checkattr').is(":checked"))
            $("#txt-attrtab").val("1");
        else
            $("#txt-attrtab").val("0");
    }
   
</script>
<h2>@ViewBag.name</h2>


<div class="sub_div sub_columns">
    <div id="data-columns"></div>
    <p>
        <input type="text" value="" placeholder="sub where(brands-column tiếp theo)" style="width:100%" id="subwhere" />
        <input type="button" style="float:left" class="button" value="Cancel" onclick="$('.sub_div').hide()">
        <input type="button" style="float:right" class="button btn_sub_data" obj="content_producttype" value="Save">
    </p>
</div>
@Html.Partial("~/Views/UserControls/ViewDataType.cshtml")
<form method="post" style="padding:10px">
    <div class="_input">
        <p>Tên table</p>
        <input type="text" id="tabledata" class="databade_" name="name_" value="@Model.name_" onblur="getcolumntable()" />
    </div>
    <div class="_input @nocreate">
        <p style="margin-top: 15px;"><input type="text" nocreate="@isnocreate" id="titleinput" placeholder="Tiêu đề form nhập" style="width: 200px!important;margin-right: 11px;" /><span class="span-add title-add">+</span> </p>
        <ul id="title-input" class="sortorder"></ul>
        <input type="hidden" id="txt-title" class="databade_" name="title" value="@Model.title" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Tiêu đề Gridview</p>
        <ul id="title-gv-input" class="sortorder"></ul>
        <input type="hidden" id="txt-gv" class="databade_" name="titleGv" value="@Model.titleGv" />
    </div>
    <p style="clear:both"></p>
    <div class="_input @nocreate">
        <p>Column nhập <span class="span-add column-add" div-data="cl-input">+</span></p>
        <ul id="cl-input" class="sortorder"></ul>
        <input type="hidden" id="txt-input" class="databade_" name="column" value="@Model.column" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Column Gridview <span class="span-add column-add" div-data="gv-input">+</span></p>
        <ul id="gv-input" class="sortorder"></ul>
        <input type="hidden" id="txt-input-gv" class="databade_" name="columnGv" value="@Model.columnGv" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Kiểu data <span class="span-add type-add">+</span></p>
        <ul id="type-data-input" class="sortorder">
        </ul>
        <input type="hidden" id="txt-type" class="databade_" name="kind" value="@Model.kind" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Kiểu data hiển thị <span class="span-add typedl-add">+</span></p>
        <ul id="type-datadl-input" class="sortorder">
        </ul>
        <input type="hidden" id="txt-typedl" class="databade_" name="typedisplay" value="@Model.typedisplay" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Sort valid <span class="span-add column-add" div-data="Sort-input">+</span></p>
        <ul id="Sort-input" class="sortorder"></ul>
        <input type="hidden" id="txt-Sort" class="databade_" name="sortorder" value="@Model.sortorder" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>không export</p>
        <input type="text" class="databade_" name="export" value="@Model.export" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Header data mobile</p>
        <input type="text" class="databade_" name="headerline" value="@Model.headerline" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Display 1 line mobile</p>
        <input type="text" class="databade_" name="dlonelinemobile" value="@Model.dlonelinemobile" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Search valid</p>
        <input type="text" class="databade_" name="search" value="@Model.search" />
    </div>
    <div class="_input">
        <p>Search sâu</p>
        <input type="text" class="databade_" name="subsearch" value="@Model.subsearch" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Data valid <span class="span-add column-add" div-data="valid-input">+</span></p>
        <ul id="valid-input" class="sortorder"></ul>
        <input type="hidden" id="txt-valid" class="databade_" name="valid" value="@Model.valid" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Key <span class="span-add column-add" div-data="Key-input">+</span> (chỉ dc 1 column key VD kèm ĐK : name_-AND column1-OR column2)</p>
        <ul id="Key-input" class="sortorder"></ul>
        <input type="hidden" id="txt-key" class="databade_" name="key_" value="@Model.key_" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Tab seo <span class="span-add column-add" div-data="Key-seo">+</span></p>
        <ul id="Key-seo"></ul>
        <input type="hidden" id="txt-seotab" class="databade_" name="seotab" value="@Model.seotab" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Tab attribute <span class="span-add column-add" div-data="Key-attr">+</span></p>
        <ul id="Key-attr"></ul>
        <input type="hidden" id="txt-attrtab" class="databade_" name="attrtab" value="@Model.attrtab" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Path <span onclick="viewtutorial('pathupload')">=></span></p>
        <input type="text" class="databade_" name="pathupload" value="@Model.pathupload" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Url</p>
        <input type="text" class="databade_" name="url" value="@Model.url" />
    </div>
    <p style="clear:both"></p>
    <div class="_input">
        <p>Open scan</p>
        @Html.CheckBox("isscan",(Model.isscan=="1")?true:false)
       
    </div>
    <p><input type="submit" id="savedata" value="Save" style="float:right" class="button" /></p>
</form>