﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SqlTable sql = new SqlTable();
    var tbn = sql.GetTableNames();
    //List<string> Lnoremove = new List<string>() {"attribute_table", "menus", "workers", "attributemores", "historyitems" };
    List<string> Lnoremove = new List<string>() { };
}
<style>
    .sl-type{
        float:left
    }
    .chart-number {
        width: 35px;
        border: none;
    }
    .btn-danger{
        display:none;
    }
    .tdtype {
        padding: 3px !important;
        width: 140px !important;
    }
    .span-length{
        /*display:none*/
    }
</style>
<script>
    function inputnumbersql(o) {
        $(o).keypress(function (e) {
        if (event.which === 8 || event.keyCode === 37 || event.keyCode === 39 || event.keyCode === 46)
            return true;

        else if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57))
            event.preventDefault();

         });
    }
    var dschart = ["nvarchar", "nchar"];
    function viewtable(o) {
        $("#nametb").val($(o).attr("objref"));
        var link = "/api/sqlCtr/Getcolumntable?table=" + $(o).attr("objref");
        var data =JSON.parse(GetAjax(link));

        $("#bodycolumn").empty();
        for (var i = 0; i < data.length; i++) {
            var l = "";
            if (dschart.indexOf(data[i].type) > -1)
                 l = data[i].length;
            var t = "<tr><td t='" + data[i].type + "' class='cl-name'>" + data[i].name + "</td><td class='tdtype'>" + dropdownData(data[i].type, l) + "</td><td><span class='btn btn-info span-btn' onclick='updatecolumn(this)'><a href = 'javascript:void(0)'>Save</a></span></td><td><span class='btn btn-info span-btn' onclick='deletecolumn(this)' name='" + data[i].name+"'><a href = 'javascript:void(0)'>Delete</a></span></td></tr>";
            $(t).appendTo("#bodycolumn");
        }
        $(".btn-danger").hide();
        $("#close").show();
        $("#tb-view-column-sql").show();
        $("#detail_table_sql").modal("show");

    }
    function showlengthtxt(o) {
        $(o).parent().find(".span-length").hide();

        var sl = $(o).find(":selected").val();
        if (dschart.indexOf(sl) > -1)
            $(o).parent().find(".span-length").show();
    }
    function newtable() {
        $("#nametb").val('');
        $("#bodycolumn").empty();
        $("#tb-view-column-sql").hide();
        $("#detail_table_sql").modal("show");
        $(".btn-danger").hide();
        $("#createnew").show();
    }
    function createTable() {
       
        var data = {
            name : $("#nametb").val(),
            seotab: $("input[id=Seotab]:checked").length,
            subtab: $("input[id=Subtab]:checked").length
        }
        
        var link = "/api/sqlCtr/CreateTable?name=" + JSON.stringify(data);
        var a = GetAjax(link);
        if (a == "0")
            location.reload();
    }
    function dropdownData(o, val) {

        var dt = ["int", "nvarchar", "float", "datetime", "nchar", "ntext"];
        var ischar = "none";
        if (dschart.indexOf(o) > -1)
            ischar = "block";
        var l = "50";
        if (val != "")
            l = val;
        var drop = "<select class='sl-type' onchange='showlengthtxt(this)'>";
        var sl = "";
        for (var i = 0; i < dt.length; i++) {
            if (o == dt[i])
                sl = "selected";
            drop += "<option value='" + dt[i] + "' " + sl + ">" + dt[i] +"</option>";
            sl = "";
        }

        drop += "</select><span class='span-length' style='display:" + ischar + "'>(<input class='chart-number' value='" + l +"' onclick='inputnumbersql(this)' />)</span>";
        return drop;
    }
    function newcolumn() {
        var t = "<tr id='newcolumn'><td><input class='newcolumn' style='width:100%' /></td><td class='tdtype'>" + dropdownData("int","") + "</td><td><span class='btn btn-info span-btn' onclick='savenewcolumn(this)'><a href = 'javascript:void(0)'>New</a></span></td><td><span class='btn btn-info span-btn' onclick='deletecolumn(this)' name='new'><a href = 'javascript:void(0)'>Delete</a></span></td></tr>";
        $(t).prependTo("#bodycolumn");
    }
    function updatecolumn(o) {
        var p = $(o).parent().parent();
        var cl = $(p).find(".cl-name").html();

        var t = $(p).find(".sl-type option:selected").val();
        if (dschart.indexOf(t) > -1) {
            t = t + "(" + $(p).find(".tdtype .chart-number").val() + ")";
        }
        var tb = $("#nametb").val();
        var link = "/api/sqlCtr/Upcolumntable?table=" + tb + "&cl=" + cl +"&type="+t;
            var a = GetAjax(link);
        if (a == "0")
            alert("ok");
     }
    function deletecolumn(o) {
          var p = $(o).attr("name");
        if (p == "new")
            $(o).parent().parent().remove();
        else {
            var tb = $("#nametb").val();
            var link = "/api/sqlCtr/Deletecolumntable?table=" + tb + "&cl=" + p;
            var a = GetAjax(link);
            if (a == "0")
                $(o).parent().parent().remove();
        }
    }
    function deletetable(o) {

        var link = "/api/sqlCtr/Deletetable?table=" + o;
            var a = GetAjax(link);
            if (a == "0")
                $("#"+o).remove();

    }
    function savenewcolumn(o) {
        var p = $(o).parent().parent();
        var cl = $(p).find(".newcolumn").val();
        var t = $(p).find(".sl-type option:selected").val();
        var typetmp = $(p).find(".sl-type option:selected").val();
        var l = "";
        if (dschart.indexOf(t) > -1) {
            t = t + "(" + $(p).find(".tdtype .chart-number").val() + ")";
            l = $(p).find(".tdtype .chart-number").val();
        }
        var tb = $("#nametb").val();
        var link = "/api/sqlCtr/Addcolumntable?table=" + tb + "&cl=" + cl +"&type="+t;
        var data = JSON.parse(GetAjax(link));
        if (data == "0") {
            var tn = '<tr><td t="' + t + '" class="cl-name">' + cl + '</td><td class="tdtype">' + dropdownData(typetmp, l) + '</td><td><span class="btn btn-info span-btn"  onclick="updatecolumn(this)"><a href="javascript:void(0)">Save</a></span></td><td><span class="btn btn-info span-btn" name="' + cl + '"  onclick="deletecolumn(this)"><a href="javascript:void(0)">Delete</a></span></td></tr>'
            $(p).remove();
            $(tn).prependTo("#bodycolumn");
        }
    }
</script>
<span class="btn btn-info span-btn" onclick="newtable()">
    <a href="javascript:void(0)">Tạo mới</a>
</span>
<div class="card-body table-responsive p-0" style="height: 500px;">
    <table class="responsive-table table table-head-fixed text-nowrap">
        <thead>
            <tr>

                <th scope="col">Tên</th>
                <th>Column</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in tbn)
            {
                @if (Lnoremove.IndexOf(v) == -1)
                {
                    <tr id="@v">
                        <td>@v</td>
                        <td><p><a href="javascript:void(0)" objref="@v" onclick="viewtable(this)">view</a></p></td>
                        <td>

                            <p onclick="deletetable('@v')"><a href="javascript:void(0)" objref="@v">delete</a></p>
                           
                        </td>
                    </tr>
                    }
                }

            </tbody>
    </table>
</div>
<div class="modal" id="detail_table_sql">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <input id="nametb" style="width: 140px;" /><input type="checkbox" id="Seotab" /><label for="Seotab">Seo tab</label> <input type="checkbox" id="Subtab" /><label for="Subtab">Data Sub</label>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="card-body table-responsive p-0" style="max-height: 300px;">
                    <table id="tb-view-column-sql" class="responsive-table table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>Name <span style="cursor:pointer" onclick="newcolumn()">+</span></th>
                                <th>Kiểu dữ liệu</th>
                                <th><span>Save</span></th>
                                <th><span>Delete</span></th>
                            </tr>
                        </thead>
                        <tbody id="bodycolumn">

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="createnew" onclick="createTable()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="close">Close</button>
            </div>

        </div>
    </div>
</div>
