﻿@model Webserver.Models.DataEdit
@{
    ViewData["Title"] = "CheckInvoicestransfer";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    Common cmd = new Common();
}
@{

    Html.RenderPartial("~/Views/Shared/HeadInvode.cshtml", Model.bill);
}
<script>
    function openfinish() {
        openPopup('InputPayment');
    }
    $(document).ready(function () {
        var ck = [];
        $("#submitform").click(function () {
            $(".ck_qlt").each(function (index) {
                var c = $(this).attr("code");
                if ($(this).is(':checked'))
                    ck.push(c);
            });
            $("#items").val(ck.toString());
        });
        
    });
</script>
<input type="button" value="ok" onclick="openfinish()" />
<form method="post">
    <input type="hidden" name="items" id="items" />

    <div id="InputPayment" class="modal fade" role="dialog" code="">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p>
                        <span class="cricleavt" style="background:url('/images/MobileIcon/cash-icon.png');"></span>
                        <span id="id_pay" style="font-size: 28px;" money="0"></span>
                    </p>
                </div>
                <div class="modal-body body_padd_5">
                    <textarea style="width:100%" placeholder="Ghi chú" rows="2" id="pay_note" name="note"></textarea>

                </div>
                <div class="modal-footer">
                    <p id="p_err"></p>
                    <input type="submit" class="btn btn-default" id="submitform" value="Save" />

                </div>
            </div>

        </div>
    </div>
</form>
<p style="text-align: center;text-transform: uppercase;padding: 0;margin: auto;
">Kho xuất</p>

<table class="tb_invoid_hd">
    <tr>
        <td class="top-left"><span class="cricleavt" onclick="chooseStore()" style="background: url('/images/mobileicon/avatar-default-icon.png');"></span></td>
        <td>

            <p class="name_" id="namesupplier">
                @if (Model.bill.Count > 0)
                {
                    @Model.bill["supplier_name"].ToString()
                }
            </p>
            <p class="sub_" id="supplierphone">
                @if (Model.bill.Count > 0)
                {
                    @Model.bill["warehouse_phone"].ToString()
                }
            </p>
        </td>

        <td class="money top-right">
            <p class="sub_dt">
                <span id="supplier_sum_mn">

                </span>
            </p>

        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding:0">
            <p style="text-align: center;font-size: 20px;font-weight: 600;" id="money_invoice">
                @{
                    var mn_ = 0;
                    if (Model.bill.Count > 0)
                    {
                        @cmd.fotmatmoney(Model.bill["sumbill"].ToString())
                    }
                    else
                    {
                        @mn_;
                    }
                }
            </p>
        </td>
    </tr>
    <tr>
        <td class="bottom_" colspan="3" style="padding: 0 10px;">
            <div style="float:left;text-align: center;">
                <p class="p_bold">Tổng Giảm</p>
                <p class="p_price down_price" style="font-size: 20px">
                    0
                </p>
            </div>
            <div style="float:right;text-align: center;">
                <p class="p_bold">Thành Tiền</p>
                <p class="p_price total_price" style="font-size: 20px">
                    @{
                        var mn = 0;
                        if (Model.bill.Count > 0)
                        {
                            @cmd.fotmatmoney(Model.bill["sumbill"].ToString())
                        }
                        else
                        {
                            @mn;
                        }
                    }
                </p>
            </div>
        </td>

    </tr>
</table>

<table class="line_it" id="tb_bill" actions="input" style="padding:10px">
    @if (Model.data.Count > 0)
    {
        foreach (var i in Model.data)
        {
    <tr code="@i["code"]" class="It_invoice" >
        <td><span class="cricleavt" style="background:url(/images/@i["img"].ToString());"></span></td>
        <td><p class="name_">@i["code"]</p><p class="sub_">@i["nameproduct"]</p><p class="sub_">Giá nhập:<span class="price_iv">@cmd.fotmatmoney(i["priceproduct"].ToString())</span></p></td>
        <td class="qlt">@cmd.fotmatmoney(i["qlt"].ToString())</td>
        <td class="money"><p class="sub_dt">$<span class="t_tien">@cmd.fotmatmoney(i["money"].ToString())</span></p></td>
        <td class="check"><p class="sub_dt"><span><input type="checkbox" class="ck_qlt" code="@i["code"]"/></span></p></td>
    </tr>
        }
    }
</table>