﻿@model Webserver.Models.DataEdit
@{
    ViewData["Title"] = "Invoicestransfer";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    Common cmd = new Common();
    string sale_gift = "0";
    string pay_note = "";
    string money_pay = "0";
    string debt = "0";

    if (Model.bill.Count > 0)
    {
       
        pay_note = Model.bill["notebill"].ToString();
       
    }

}
@{
    Html.RenderPartial("~/Views/Shared/ScriptCreateLineItem.cshtml");
    Html.RenderPartial("~/Views/Shared/HeadInvode.cshtml", Model.bill);
}
<p style="text-align: center;text-transform: uppercase;padding: 0;margin: auto;
">Kho xuất</p>
<table class="tb_invoid_hd">
    <tr>
        <td class="top-left"><span class="cricleavt" onclick="chooseStore()" style="background: url('/images/mobileicon/avatar-default-icon.png');"></span></td>
        <td>

            <p class="name_" id="namesupplier">
                @if (Model.bill.Count > 0)
                {
                    @Model.bill["supplier_name"].ToString()
                }
            </p>
            <p class="sub_" id="supplierphone">
                @if (Model.bill.Count > 0)
                {
                    @Model.bill["warehouse_phone"].ToString()
                }
            </p>
        </td>

        <td class="money top-right">
            <p class="sub_dt">
                <span id="supplier_sum_mn">

                </span>
            </p>

        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding:0">
            <p style="text-align: center;font-size: 20px;font-weight: 600;" id="money_invoice">
                @{
                    var mn_ = 0;
                    if (Model.bill.Count > 0)
                    {
                        @cmd.fotmatmoney(Model.bill["sumbill"].ToString())
                    }
                    else
                    {
                        @mn_;
                    }
                }
            </p>
        </td>
    </tr>
    <tr>
        <td class="bottom_" colspan="3" style="padding: 0 10px;">
            <div style="float:left;text-align: center;">
                <p class="p_bold">Tổng Giảm</p>
                <p class="p_price down_price" style="font-size: 20px">
                    @{
                        var dc = 0;
                        if (Model.bill.Count > 0)
                        {
                            @cmd.fotmatmoney(Model.bill["sumdiscount"].ToString())
                        }
                        else
                        {
                            @dc;
                        }
                    }
                </p>
            </div>
            <div style="float:right;text-align: center;">
                <p class="p_bold">Thành Tiền</p>
                <p class="p_price total_price" style="font-size: 20px">
                    @{
                        var mn = 0;
                        if (Model.bill.Count > 0)
                        {
                            @cmd.fotmatmoney(Model.bill["moneyiv"].ToString())
                        }
                        else
                        {
                            @mn;
                        }
                    }
                </p>
            </div>
        </td>

    </tr>
</table>
<p onclick="addPro()">Nhập sp</p>
<p onclick="openPay()">Payment</p>

<table class="line_it" id="tb_bill" actions="input" style="padding:10px">
    @if (Model.data.Count > 0)
    {
        foreach (var i in Model.data)
        {
            <tr code="@i["code"]" class="It_invoice" onclick="updateqlt($(this))">
                <td><span class="cricleavt" style="background:url(/images/@i["img"].ToString());"></span></td>
                <td><p class="name_">@i["code"]</p><p class="sub_">@i["nameproduct"]</p><p class="sub_">Giá nhập:<span class="price_iv">@cmd.fotmatmoney(i["priceproduct"].ToString())</span></p></td>
                <td class="qlt">@cmd.fotmatmoney(i["qlt"].ToString())</td>
                <td class="money"><p class="sub_dt">$<span class="t_tien">@cmd.fotmatmoney(i["money"].ToString())</span></p></td>
            </tr>
        }
    }
</table>
<div style="height: 70px;"></div>
@*//data-keyboard="false" data-backdrop="static"*@
<div id="pwhereinput" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body body_padd_5">
                <p class="p_search" style="text-align:center">
                    <span style="margin:0">Kho xuất</span>
                    <select id="sl_supplier">
                        <option value="-1" name="none" phone="">Chọn kho xuất</option>
                        @foreach (var i in ViewBag.supplier)
                        {
                            string select = "";
                            if (Model.bill.Count > 0)
                            {
                                if (Model.bill["warehouse"].ToString() == i["id"].ToString())
                                {
                                    select = "selected";
                                }
                            }
                            if (select != "")
                            {
                                <option selected value="@i["id"]" name="@i["name_"]" phone="@i["phone"]"> @i["name_"]</option>
                            }
                            else
                            {
                                <option value="@i["id"]" name="@i["name_"]" phone="@i["phone"]"> @i["name_"]</option>
                            }

                        }
                    </select>
                </p>
                <p style="text-align:center" class="p_search">
                    <span style="margin:0">Kho nhập</span>
                    <select id="sl_store">
                        <option value="-1" name="none" phone="">Chọn kho nhập</option>
                        @foreach (var i in ViewBag.whouse)
                        {
                            string select = "";
                            if (Model.bill.Count > 0)
                            {
                                if (Model.bill["warehouse"].ToString() == i["id"].ToString())
                                {
                                    select = "selected";
                                }
                            }
                            if (select != "")
                            {
                                <option selected value="@i["id"]" name="@i["name_"]" phone="@i["phone"]"> @i["name_"]</option>
                            }
                            else
                            {
                                <option value="@i["id"]" name="@i["name_"]" phone="@i["phone"]"> @i["name_"]</option>
                            }

                        }
                    </select>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="width:100%" id="btn_ctm_" onclick="bindStore()" id_data="">Save</button>
            </div>
        </div>

    </div>
</div>
<form method="post">
    <input type="hidden" name="items" id="items" />
    <input type="hidden" name="infor" id="infor" />
    <div id="InputPayment" class="modal fade" role="dialog" code="">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p>
                        <span class="cricleavt" style="background:url('/images/MobileIcon/cash-icon.png');"></span>
                        <span id="id_pay" style="font-size: 28px;" money="0"></span>
                    </p>
                </div>
                <div class="modal-body body_padd_5">
                    <textarea style="width:100%" placeholder="Ghi chú" rows="2" id="pay_note">@pay_note</textarea>
                   
                </div>
                <div class="modal-footer">
                    <p id="p_err"></p>
                    <input type="submit" class="btn btn-default" id="submitform" value="Save" />

                </div>
            </div>

        </div>
    </div>
</form>


<script>
        var code = '@Model.code';
        if (code == null || code === "") {
                chooseStore();
            }
            function chooseStore() {
                $("#pwhereinput").modal('show');
            }
            function bindStore() {
                var o = $("#sl_store").find(":selected");
                var s = $("#sl_supplier").find(":selected");
                if ($(s).attr("name") == $(o).attr("name")) {
                    alert("Kho nhập và xuất ko được giống nhau");
                    return false;
                }
                $("#name_nv").html($("#container_").attr("nv"));
                $("#style_invoid").html("vận chuyển nội bộ");
                $("#num_bill").html("(NH00000)");
                       
                $("#branh_").html($(o).attr("name"));
                $("#phone_branh").html($(o).attr("phone"));
                     
                $("#namesupplier").html($(s).attr("name"));
                $("#supplierphone").html($(s).attr("phone"));
                //$("#supplier_sum_mn").html(converToString($(s).attr("money")));
               
              
                offPopup("pwhereinput");
            }
           
    function openPay() {
        $("#p_err").hide();
                    var t = $(".total_price").html();
                    $("#id_pay").html(t);
                    $("#id_pay").attr("numbermn", convertonumber(t));
                openPopup('InputPayment');
            }
            
            function checkPay() {
                var mny = $("#id_pay").attr("numbermn");
                var p = $("#money_pay").val();
                var s = 0;
                if (parseFloat(mny)>0) {
                    s = parseFloat(mny) - parseFloat(convertonumber(p));
                }
        $("#money_rt").html(converToString(s));
            }
    $(document).ready(function () {
        $("#submitform").click(function () {
            $("#p_err").hide();
            var warehouse = $("#sl_store").find(":selected").val();
            var supplier = $("#sl_supplier").find(":selected").val();

            if (supplier == -1) {
                note_Error("Vui lòng chọn kho nhập");
                return false;
            }
            if (warehouse == -1) {
                note_Error("Vui lòng chọn kho nhập");
                return false;
            }
            savepay();

                });
            });
    function savepay() {

        var warehouse = $("#sl_store").find(":selected").val();
        var supplier = $("#sl_supplier").find(":selected").val();
        var infor = {
                    warehouse: warehouse,
                    supplier: supplier,
            warehouse_name: $("#sl_store").find(":selected").attr("name"),
            supplier_name: $("#sl_supplier").find(":selected").attr("name"),
            warehouse_phone: $("#sl_store").find(":selected").attr("phone"),
            supplier_phone: $("#sl_supplier").find(":selected").attr("phone"),
            notebill: $("#pay_note").val(),
        }
            var Items = [];
        $("#tb_bill .It_invoice").each(function (index) {
                var c = $(this).attr("code");
                var q = $(this).find(".qlt").html();
                var i = {
                code: c,
                qlt: q
            }
            Items.push(i);
        });
        $("#items").val(JSON.stringify(Items));
        $("#infor").val(JSON.stringify(infor));
       
    }
</script>


