﻿@model Webserver.Models.DataList
@{
    ViewData["Title"] = "Invoices";
    Layout = "~/Views/Shared/_LayoutInvoices.cshtml";
}
@using Newtonsoft.Json;
 @{Common cmd = new Common(); }
<script>
    var view = '@ViewBag.view';
    function CreateLintGiftDT(obj) {
        var img = "/images/mobileicon/discount.png";
     
        var a = '<tr>' +
            '<td><span class="cricleavt" style="background:url(' + img + ');"></span></td>' +
            '<td>' +
            '<p class="name_">' + obj.code + '</p>' +
            '<p class="sub_">' + obj.name_ + '</p>' +
            '</td>' +
            '<td class="qlt">' + converToString(obj.qlt) + '</td>' +
            '<td class="money">' +
            '<p class="sub_dt"><span class="t_tien">' + converToString(obj.value) + obj.key_vl +'</span></p>' +
            '</td>'
        '</tr>';
        return a;
    }
    function toggerGiftAndPro() {
        $(".detail_").toggle();
        $(".gift_").toggle();
    }
    function callFutter(o) {
        enableAdd_btn.postMessage("hello");
    }
    function opensearch() {

        openPopup("mySearch");
    }
    function openButton(o) {
        $(".edit_").empty();
        $(".gift_").empty();
        $(".detail_").empty();
        var obj = $(o).clone();
        $(obj).appendTo(".edit_");
       
        var i = $(o).attr("detail");
      
        var detail = JSON.parse(i);
        for (var j = 0; j < detail.length; j++) {
          
            var m = CreateLintProcductDT(detail[j]);
     
            $(m).appendTo(".detail_");
        }
        if ($(o).attr("gifts") != "") {
            var g = $(o).attr("gifts");
            var gift = JSON.parse(g);
            for (var j = 0; j < gift.length; j++) {
                var m = CreateLintGiftDT(gift[j]);
                $(m).appendTo(".gift_");
            }
        }
        var link = "InvoicesReturn?code=" + $(o).attr("code");
        if (view == "return") {
            $(".price_tt").html("giá thu :");
              }
        $("#returnhref").attr("href", link);
        openPopup("mybutton");

    }
    $(document).ready(function () {
        $("#searchbasic").click(function () {
            if ($("#key_w").val() == "")
                return false;
           
        });
        $("#searchavd").click(function () {
              $("#key_w").val($(".keywork").val());
        });
    });
</script>

<form method="post">
    <div id="mybutton" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:10px">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <table class="line_it edit_"></table>
                </div>
                <div class="modal-body" style="max-height:230px;overflow: auto;">
                    <table class="line_it detail_" code="">
                        
                    </table>
                    <table class="line_it gift_" style="display:none">
                        
                    </table>
                </div>
                <div class="modal-footer">
                    <p style="text-align: center;">
                        <span style="float:left;width:30%"><input type="button" value="Print" class="button" /></span>

                        @if (ViewBag.view == "sale")
                        {
                            <span class="cricleavt" style="background: url('/images/mobileicon/discount.png');" onclick="toggerGiftAndPro()"></span>
                            <span style="float:right;width:30%"><a href="" id="returnhref" target="_blank" class="button">Trả hàng</a></span>
                        }

                    </p>
                </div>
            </div>

        </div>
    </div>
    <div id="mySearch" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tìm kiếm nâng cao</h4>
                </div>
                <div class="modal-body">
                    <p class="p_search">
                        <span>Từ ngày</span>
                        <input type="text" class="datepicker" name="begin" id="bgday" value="@Model.fromday" />
                    </p>
                    <p class="p_search">
                        <span>Tới ngày</span>
                        <input type="text" class="datepicker" name="today" id="tday" value="@Model.today" />
                    </p>
                    <p class="p_search">
                        <span>Từ khóa</span>
                        <input type="text" class="keywork" name="keyworks" value="@Model.key"/>
                    </p>

                </div>
                <div class="modal-footer">
                    <input type="submit" value="search" class="button" id="searchavd" style="width:100%" />
                </div>
            </div>

        </div>
    </div>
    <p class="p_search_">
        <span>
            <input type="text" name="key" id="key_w" value="@Model.key" />
        </span>
        <span>
            <input type="submit" value="search" id="searchbasic" class="button" />
        </span>
    </p>
    <div style="font-size:12px;text-align:center" onclick="opensearch()">
        <div class="div_sum">
            <span> Phiếu</span><br />
            <span class="name_">@Model.data.Count</span>
        </div>
        <div class="div_sum">
            <span> Tiền</span><br />
            <span class="name_">@cmd.fotmatmoney(Model.data.Sum(s => cmd.convertNumberDouble(s["moneynotdiscount"].ToString())).ToString())</span>
        </div>
        <div class="div_sum">
            <span> Sản phẩm</span><br />
            <span class="name_">@cmd.fotmatmoney(Model.data.Sum(s => cmd.convertNumberDouble(s["qlt"].ToString())).ToString())</span>
        </div>
        <div class="div_sum">
            <span> Giảm </span><br />
            <span class="name_">@cmd.fotmatmoney(Model.data.Sum(s => cmd.convertNumberDouble(s["discountmoney"].ToString())).ToString())</span>
        </div>
        <div class="div_sum" style="border:none;text-align:right">
            <span> Thành Tiền</span><br />
            <span class="name_">@cmd.fotmatmoney(Model.data.Sum(s => cmd.convertNumberDouble(s["money"].ToString())).ToString())</span>
        </div>
    </div>
    <div class="content_">
        <table class="line_it">
            
                @for (int i = 0; i < Model.data.Count; i++)
                {
                    dynamic infor = JsonConvert.DeserializeObject<dynamic>(Model.data[i]["ctminfor"].ToString());
                    if (infor.member.ToString() == "-1")
                    {
                        infor.member = "";
                    }
                    int order = i + 1;
                    <tr onclick="openButton($(this))" code="@Model.data[i]["codeid"].ToString()" gifts="@Model.data[i]["codediscount"].ToString()" detail="@Model.data[i]["detailbill"].ToString()">

                        <td style="padding:0 4px 0;">@order</td>
                        <td>
                            <p class="name_">@infor.namectm - @infor.phone</p>
                            <p class="sub_">Doanh số: @cmd.fotmatmoney(infor.moneysum.ToString()) </p>
                            <p class="sub_">Thẻ member: @infor.member</p>
                            <p class="day_">@DateTime.Parse(Model.data[i]["datebill"].ToString()).ToString("dd-MM-yyyy HH:MM") @Model.data[i]["numberbill"].ToString()</p>
                            
                            @if (Model.data[i]["remark"].ToString() != "")
                            {
                                <p class="sub_">Ghi chú: @Model.data[i]["remark"].ToString()</p>
                            }
                        </td>
                        <td class="qlt">@Model.data[i]["qlt"].ToString()</td>
                        <td class="money">
                            <p class="sub_"><span>NV: </span>@infor.username</p>
                            <p class="sub_"><span>$</span> @cmd.fotmatmoney(infor.sumbill.ToString())</p>
                            @if (ViewBag.view == "sale")
                            {
                            <p class="sub_"><span>- </span> @cmd.fotmatmoney(infor.sumdiscount.ToString())</p>
                            }
                            <p class="name_"><span>$ </span> @cmd.fotmatmoney(infor.moneyiv.ToString())</p>
                        </td>
                    </tr>
                }
        
        </table>
    </div>
    <span style="position: absolute;left: 0;bottom: 10px;z-index:1">
        <img src="~/images/MobileIcon/search.png" style="width:50px" onclick="opensearch()" />
    </span>

    <div class="pagination" style="padding-left: 50px;">

        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">4</a>

        <a href="#">&raquo;</a>
    </div>

</form>
