﻿
@{
    Layout = null;
    var lg = false;
    var users = Context.Session.Get<LoginModel>("user");
    if (users != null)
    {
        lg = true;
    }

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/logincss.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        
        function callFutter() {
            redirectHome.postMessage("hello");
        }
        var rdr = '@lg';
        
        if (rdr) {
             callFutter();
        }
    </script>
</head>
<body>
   
    <div class="pagewrap">
        <form class="form" id="form" method="post">
            <h3 class="form__title">Login</h3>
            <div class="container">
                <input class="container__input" type="text" id="username" name="username" value="ty" required>
                <label id="userLabel" for="username" class="container__label">Username</label>
            </div>
            <div class="container">
                <input class="container__input" type="password" id="pass" name="pass" value="123" required>
                <label id="passLabel" for="pass" class="container__label">Password</label>
            </div>
            <p>@ViewBag.fail</p>
            <button class="form__submit" id="submit" type="submit" value="submit">Submit</button>
        </form>
      
    </div>
</body>
</html>
