﻿
@{
    ViewData["Title"] = "pagealert";
    Layout = null;
    Html.RenderPartial("~/Views/Shared/PopupAlert.cshtml");
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<style>
    p {
        padding: 20px 0 20px 0;
        font-size: 50px;
    }
</style>
<script>
    var al ='@ViewBag.note.ToString()';
    openAlert(al);
</script>