﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top:0;
    padding-bottom:0;
   
}
.span-tmp {
    color: transparent;
}
.header-row span{
   padding: 0!important
}
.header-row span:nth-child(3){
    float:right;
    padding:0
}
.td-content div span {
    padding: 5px;
}
.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #000;
    z-index: 9;
    display: none;
    opacity: 0.2;
}

#div-logout {
    width: 100%;
    clear: both;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff;
    position: absolute;
    bottom: 0;
}
.div-oneline span, .div-oneline p {
    display: inline-block
}
.tb-mobile td{
    border-bottom: 5px solid #FFFF;
}
.modal-fix {
    max-width: 90%;
}
.div-ctr-display {
    float: left;
    clear: both
}
.header-row div {
    float: unset;
    width: fit-content;
    clear: unset;
    display: initial;
}
#fast-access {
    position: absolute;
    width: 165px;
    right: 0;
    padding: 10px;
    background: #fff;
    display: none
}
.v-tootip {
    cursor: pointer;
    position: relative
}
.tooltip {
    text-align: center;
    z-index: 9999999;
    display: inline;
    border: 1px solid #dca;
    background: #fff;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
    opacity: 1;
    display: none;
    top: 0;
    padding: 5px;
    width: 160px;
    
}
.icon-class{
    width:25px;
}
.table-head-fixed th {
    color: #fff !important;
    vertical-align: middle !important;
}
.ui-datepicker {
    z-index: 9999 !important
}
.div-one-line {
    float: left;
    margin-right: 5px
}
.w-200{
    width:200px!important
}
.w-150 {
    width: 150px !important
}
.div-sum {
    text-align: right
}

.tbleprint th {
    border: 1px solid #1d96b2;
    background-color:black;
    color:white
}
.tbleprint td {
    border: 1px solid #1d96b2;
    text-align:center;
}
.sum {
    float: right;
    min-width: 100px
}
.name_attr {
    width: 20%
}
.ct_attr {
    width: 70%
}

.table.table-head-fixed thead tr:nth-child(1) th {
    background-color: #1d96b2;
}

.span-add {
    cursor: pointer;
}
.container {
    width: 100%
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.sub_color, .sub_color_icon {
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 4px;
    margin-right: 5px;
}
#data-datatype, #data-columns, .content_sub {
    height: 85%;
    overflow: auto;
}
.tablinks {
    padding: 10px;
    float: left;
    cursor: pointer
}
    .tablinks.active {
        background: brown;
        color:#fff;
        cursor:pointer
    }
.tb-mobile {
    padding: 5px;
    max-height: 350px;
    overflow: auto;
}
.modal-fix .modal-body {
    padding:0
}
.modal-body td{
    padding:0
}
.card-header{
    display:none
}
.icon-menu img{
    width:20px
}
.span-fast img {
    width: 20px
}
.div-fast {
    text-align: center;
    float: left;
    width: 50%;
  
    font-size: 14px;
    margin: 5px 0;
}
.div-oneline-btn{
    display:inline-flex
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 375px) {
    .tb-mobile{
        max-height:400px
    }
}
    @media screen and (max-width: 767px) {
        /* Hide captions */
        input[type=text] {
            width: 100%;
            margin-bottom: 10px;
        }
        .div-ctr-display{
            padding-left:5px
        }
        .content-wrapper {
            margin-top: 58px;
        }
        #menutop {
            position: fixed;
            width: 100%;
            top: 0
        }
        .carousel-caption {
            display: none;
        }

        .modal-fix {
            max-width: 100%!important;
        }

        #head-destop {
            display: none
        }
    }
