﻿#layouts {
    list-style: none;
    display: inline-block;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}

    #layouts li {
        display: inline-block;
        margin: 10px;
        cursor: pointer
    }
.liactive {
    border-bottom: 2px solid black;
}

.li-content {
    display: none
}
.div-sum-report{
    text-align:right
}
.conten-sum div {
    width: 90%;
    float: left;
}
