﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/jquery-ui.js"></script>

    <script src="~/tinh_thanh.js"></script>
    <script src="~/quan_huyen.js"></script>
    <script src="~/phuong_xa.js"></script>
    <script src="~/js/AddressData.js"></script>
    <script src="~/js/Validate.js"></script>
    <style>
        .p_search_ {
            margin: 0 10px 0 10px;
        }

        .cricleavt {
            width: 30px;
            height: 30px;
            display: inline-flex;
            margin-right: 10px;
            cursor: pointer;
            border-radius: 50%;
            background-size: cover !important;
        }

        .line_it {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 5px;
        }

            .line_it p {
                margin: 0;
                font-size: 12px;
            }

        .qlt {
            text-align: center
        }

        .money {
            text-align: right
        }

        .line_it tr {
            background-color: #e1e7e7
        }

        .datepicker {
            width: 100%;
        }

        .line_it td {
            margin: 0
        }

        .detail_ td {
            padding: 5px;
        }

        td {
            border: solid 1px #000;
            border-style: solid none;
            padding: 10px;
        }

            td:first-child {
                border-left-style: solid;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            td:last-child {
                border-right-style: solid;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
            }

        input[type=text] {
            width: 75%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .modal-footer input {
            width: 100% !important;
            padding: 11px;
            text-align: center;
        }

        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 7px 0px;
            cursor: pointer;
            border-radius: 8px;
            float: right
        }

        .name_ {
            font-weight: bold;
        }

        .sub_ {
            font-size: 12px;
        }

        .div_sum {
            float: left;
            width: 19%;
            border-right: 1px solid;
        }

        .content_ {
            width: 95%;
            position: fixed;
            left: 10px;
            top: 100px;
            overflow: auto;
            max-height: 70%;
        }
    </style>
    <style>
        #p_err {
            text-align: center;
            color: red;
            display: none;
        }

        .tb_view_in_tb {
            width: 100%;
            text-align: center;
            font-size: 11px;
        }

            .tb_view_in_tb td {
                padding: 0;
                border: none
            }

        .td_padO {
            padding: 0;
        }

        .body_padd_5 {
            padding: 5px;
        }

        .pagination {
            display: inline-block;
            position: absolute;
            bottom: 0;
            text-align: center;
            display: block;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }

                .pagination a.active {
                    background-color: #4CAF50;
                    color: white;
                    border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                    border-radius: 5px;
                }

        .p_search {
            position: relative;
        }

            .p_search input {
                width: 100%;
                text-align: center
            }

            .p_search span {
                position: absolute;
                background: skyblue;
                padding: 5px;
                top: 0px;
                padding: 12px 20px;
                margin: 8px 0;
            }

        .ui-autocomplete {
            z-index: 99999999;
        }

        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            margin: 0 auto;
            top: 40%;
            position: relative;
        }

        .loaderScreen {
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            height: 100%;
            z-index: 999999;
            opacity: 0.5;
            background: black;
            display: none
        }

        ul.ul-center {
            list-style-type: none;
            display: table;
            width: 100%;
            margin: 0;
            padding: 0;
        }

            ul.ul-center li {
                display: table-cell;
                text-align: center;
                padding: 15px;
                text-transform: uppercase;
            }

        .selectAvt {
            background-color: #337ab7 !important;
        }

        .p_search select {
            height: 45px;
            width: 90%;
            text-align-last: right;
            padding-left: 45px;
        }

        .p_search option {
            direction: rtl;
        }

        .tb_invoid_hd tr {
            background-color: #e1e7e7
        }

        .tb_invoid_hd {
            padding: 10px;
            width: 100%;
            border-collapse: unset;
            border-spacing: 0;
        }

            .tb_invoid_hd td {
                border: none !important;
                border-left-style: unset !important;
                border-top-left-radius: unset !important;
                border-bottom-left-radius: unset !important;
                border-bottom-right-radius: unset !important;
                border-top-right-radius: unset !important;
            }

            .tb_invoid_hd p {
                padding: 0;
                margin: 0
            }
    </style>
</head>
<body style="padding-top:0">
    <div>
        @RenderBody()
    </div>
</body>
</html>
