﻿@model Dictionary<string, object>

@{

    var obj = Model["obj"].ToString();
    var column = Model["column"].ToString();
    var title = Model["title"].ToString();
    var value = Model["value"].ToString();
    var from_ = Model["from"].ToString();
    var iddata = Model["iddata"].ToString();
    var keytxt = Model["keytxt"].ToString();
    <div class="_input">
        <div class="_title">@title <span class='notnulls'>(*)</span></div>
        <input type="text" objfrom="@from_" keytxt="@keytxt" id-data="@iddata" columnip="@Model["columnip"].ToString()" getdata="@Model["getdata"].ToString()" obj="@obj" errnote="@title"  class="databade_ @column keys notnull @Model["datatype"] @from_" name="@column" value="@value" id="keys-@from_" autocomplete="off">
    </div>
}