﻿@model Dictionary<string, object>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Newtonsoft.Json;

<script>
    @{
        Common cmd = new Common();
        string vlue = Model["value"].ToString();
        var title = Model["title"].ToString();
        string columnassign = Model["columnassign"].ToString();
        string columnget = Model["columnget"].ToString();
        string table = Model["table"].ToString();
        string err = Model["errnote"].ToString();
        string sub_class = Model["subclass"].ToString();
        string fr = Model["from"].ToString();
        string where= Model["where"].ToString();
        string name_value = "";
        string ipt = "";
        if (sub_class != "")
        {
            ipt = "<span class='notnulls'>(*)</span>";
        }
        if (vlue == "") {
            vlue = "-1";
        }
        Sqlcommon sql = new Sqlcommon();
        string str_au = "select name_,"+columnget+" from " + table + "";
        if (where != "")
        {
            str_au = str_au +" where "+ cmd.decodeHtml(where);
        }
        str_au = str_au + " order by name_ desc";
        var datas = sql.getdataSQLstr(str_au);

    }
   


</script>

<div class="cl_dropdowdata_@columnassign @columnassign cl_dropdowdata @sub_class @fr @Model["keyevent"]" objfrom="@fr" id_="@vlue" errnote="@err" name="@columnassign">
    <select class="select-data" onchange="changeDropDowndata(this)" name="cl_dropdowdata_@columnassign">
        <option value="-1">Chọn ---</option>
        @if (datas.Count <= 1)
        {
            
            <option value="@datas[0][columnget]" id_="@datas[0][columnget]" selected>@datas[0]["name_"]</option>
        }
        else
        {
            foreach (var i in datas)
            {

                if (vlue != "" && i[columnget].ToString() == vlue)
                {
                <option value="@i[columnget]" id_="@i[columnget]" selected>@i["name_"]</option>
                }
                else
                {
                <option value="@i[columnget]" id_="@i[columnget]">@i["name_"]</option>
                }
            }
        }
    </select>
</div>
