﻿@model Dictionary<string, object>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    .hide_ {
        display: none;
    }
</style>
@using Newtonsoft.Json;
<script>

    @{
        string vlue = Model["value"].ToString();
        string columnassign = Model["columnassign"].ToString();
        string columnget = Model["columnget"].ToString();
        string table = Model["table"].ToString();
        string err = Model["errnote"].ToString();
        string sub_class = Model["subclass"].ToString();
        string name_value = "";
        string fr = Model["from"].ToString();
        Sqlcommon sql = new Sqlcommon();
        string str_au = "select name_," + columnget + " from " + table + "";
        var auto_ = sql.getdataSQLstr(str_au);
        if (vlue != "")
        {
            try
            {
                name_value = auto_.FirstOrDefault(s => s[columnget].ToString() == vlue)["name_"].ToString();
            }
            catch { }
        }
    }
    $(function () {
        var vl = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(auto_));
                var r_ = [];
                var cl_index = '@columnassign';
                var c_index ='@columnget';
        for (var i = 0; i < vl.length; i++) {
            r_.push(vl[i].name_);
            var p = "<p class='p_getvalue_" + cl_index + "' name='" + vl[i].name_ + "' code='" + vl[i][c_index] +"'>"

            $(p).appendTo(".list_vl_getvalue_" + cl_index+"");

            }
            autocomplet(".getvalue_" + cl_index+"", r_);


        });

</script>
<div>
    <input type="text" onblur="getreference(this,'list_vl_getvalue_','p_getvalue_')" div-ref="@columnassign" errnote="@columnget" col-ref="cl_getvalue_@columnget" datatype="getvalue_" class="databade_ getvalue_ getvalue_@columnassign @columnassign @fr" id_="@vlue" seoname="" name="@columnassign" column="@columnassign" value="@name_value" style="float:left" />
    <div class="infor_@columnassign btn_@columnassign" style="display:none">
        <span class="@columnassign">Giá Trị</span><input type="text" class="vlofname_@columnassign" column="@table" />
        <input type="button" clreturn="@columnget" input-txt="getvalue_@columnassign" sub-value="vlofname_@columnassign" value="Add" onclick="addnewrefe(this)" obj="@table" types="@table" class="getvalue" />
    </div>
</div>
<p style="clear:both"></p>
<div class="list_vl_getvalue_@columnassign" style="display:none">

</div>