﻿@model Dictionary<string, object>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Newtonsoft.Json;
    <script>

    @{
        string vlue = Model["value"].ToString();
        string columnassign = Model["columnassign"].ToString().Trim();
        string columnget = Model["columnget"].ToString().Trim();
        string table = Model["table"].ToString().Trim();
        string err = Model["errnote"].ToString().Trim();
        string sub_class = Model["subclass"].ToString().Trim();
        string name_value = "";
        string fr = Model["from"].ToString().Trim();
        Sqlcommon sql = new Sqlcommon();
        string str_au = "select " + columnget + " from " + table + "";
        var auto_ = sql.getdataSQLstr(str_au);

     }
    $(function () {
        var vl = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(auto_));
        var data = [];
        for (var i = 0; i < vl.length; i++) {
            data.push(vl[i]['@columnget']);
        }

        autocomplet(".getvaluekey_@columnassign", data);
    });

    </script>
<div>
    <input type="text" errnote="@err" class="databade_ @columnassign @sub_class getvaluekey_@columnassign @fr" name="@columnassign" column="@columnassign" value="@vlue" style="float:left" />
   
</div>
