﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    .div_infor p {
        margin: 0;
        padding: 0;
        font-size: 12px
    }

    #style_invoid {
        padding-top: 60px !important;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
    }
</style>
<div style="margin-top: 10px;">
    <div style="float:left;width:100%">
        <div style="float:left">
            <img src="~/images/MobileIcon/logo.png" width="50" />
        </div>
        <div class="div_infor" style="font-size:12px">
            <p>Monaco chi nhánh 
                <span id="branh_">
                    @if (Model.Count > 0)
                    {
                        @Model["warehouse_name"].ToString();
                    }
                </span>
            </p>
            <p>Phone: <span id="phone_branh">
    @if (Model.Count > 0)
    {
        @Model["warehouse_phone"].ToString();
    }
</span></p>
        </div>
        <p id="day_bill">
            @if (Model.Count>0) {
                @Model["datebill"].ToString();
            }
            else {
                @DateTime.Now.ToString("dd-MM-yyyy hh:MM");
            } NV:<span id="name_nv">
    @if (Model.Count > 0)
    {
        @Model["usercreate"].ToString();
    }
</span>
        </p>
    </div>
   
</div>
<p id="style_invoid">
    HÓA ĐƠN

</p>
<p style="font-weight:normal;text-align:center;margin:0" id="num_bill">
    @if (Model.Count > 0)
    {
        @Model["numberbill"].ToString();
    }
</p>