﻿@model dynamic
@using Newtonsoft.Json;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    var param1 = (dynamic)ViewData["param1"];

}
<tr>
    <td><span class="cricleavt" style="background: url('@param1.imgs');"></span></td>
    <td>
        <p class="name_"></p>
       <p class="sub_">@param1.code</p>
        <p class="sub_">Giá bán: @param1.price</p>
    </td>
    <td class="qlt">@param1.qlt</td>
        <td class="money">
            <p class="sub_dt">$@param1.money</p>

        </td>

</tr>