﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<script>
    function CreateGiftLine() {
        var code = $("#code_gift").val();
        var ck = checkcodeExit(code);
        if (ck)
            return false;
        openPopupLoader();
        //Html.RenderPartial("~/Views/Shared/LineProductMb.cshtml", new ViewDataDictionary(this.ViewData) { { "param1", o } });
        var where = "code='" + code + "'";
        console.log("/api/API/GetDataWeb?type=qua_tang&page=0&number=1&cols=*&where=" + where + "");
        $.get("/api/API/GetDataWeb?type=qua_tang&page=0&number=1&cols=*&where=" + where + "", { async: false }, function (data) {
            if (data == "[]") {
                openAlert("Sản phẩm không tồn tại");
            }
            else {

                var j = JSON.parse(data);
                var a = AddLineGift(j[0]);
                $(a).appendTo("#tb_gift");
                sumgift();
                calculaInvoice();
                
            }
            offPopupLoader();
        });
        
    }
    function checkcodeExit(code) {
        var rs = false;
        $("#tb_gift .It_Gift").each(function (index) {
            var c = $(this).attr("code");
            if (c == code) {
                var money =convertonumber($(this).find(".money .t_tien").html());
                var q = convertonumber($(this).find(".qlt_gift").html());
                var mn = parseFloat(money) + parseFloat(money);
                var qlt = parseInt(q) + 1;
                $(this).find(".money .t_tien").html(converToString(mn));
                $(this).find(".qlt_gift").html(converToString(qlt));
                rs = true;
                return false;
            }
        });
        sumgift();
        calculaInvoice();
         return rs;
    }
    function AddLineGift(obj) {
        var code = obj.code;
        var img = "/images/MobileIcon/discount.png";
        var rm = "/images/MobileIcon/DeleteRed.png";
        var a = '<tr code="' + code + '" class="It_Gift" key="' + obj.key_vl+'">' +
            '<td class="td_padO"><span class="cricleavt" style="background:url(' + img + ');"></span></td>' +
            '<td>' +
            '<p class="name_">' + code + '</p>' +
            '<p class="sub_">' + obj.name_ + '</p>' +
            '<p class="sub_">Giá trị:<span class="gift_vl">' + converToString(obj.value) + converToString(obj.key_vl)+'</span></p>' +
            '</td>' +
            '<td class="qlt_gift">1</td>' +
            '<td class="money">' +
            '<p class="sub_dt">$<span class="t_tien">' +converToString(obj.value) +'</span></p>' +
            '</td>' +
            '<td class="td_padO"><span class="cricleavt" style="background:url(' + rm + ');" onclick="removegift($(this))"></span></td>' +
            '</tr>';
        return a;
    }
    function removegift(o) {
        $(o).parent().parent().remove();
        sumgift();
        calculaInvoice();
        //$("#InputGift").modal('hide');
    }
    function gift() {
        $("#code_gift").val('');
        $("#InputGift").modal('toggle');
    }
    function sumgift() {
        var sum = 0;
        var sum2 = 0;
        $("#tb_gift .It_Gift").each(function (index) {
            var key = $(this).attr("key");
            if (key == "%") {
                var pcent = convertonumber($(this).find(".money .t_tien").html());
                sum2 = sum2 + parseInt(pcent);
            }
            else {
                var money = convertonumber($(this).find(".money .t_tien").html());
                sum = sum + parseFloat(money);
            }
        });
        var str1 = "";
        if (sum > 0)
            str1 = "$" + converToString(sum);
        var str2 = "";
        if (sum2 > 0)
            str2 = converToString(sum2) + "%";
        if (str1 != "" && str2!="")
            str2 = " Và " + str2;
        $("#sum_gift").html(str1 + str2);
        var sumdc = sum;
        if (sum2 > 0) {
            var mnbill = convertonumber($("#money_invoice").html());
            var dc1 = parseFloat(mnbill) - sum;
            var dc2 = Math.floor(dc1 * sum2) / 100;
            sumdc = sumdc + dc2;
        }
        $(".down_price").html(converToString(sumdc));
    }
</script>