﻿@model Dictionary<string, object>
@{
    string[] title = Model["title"].ToString().Split(',');
    var column = Model["column"].ToString().Split(',');
    var columnsum = Model["columnsum"].ToString().Split(',');
    var sumend = Model["sumend"].ToString().Split(',');
    string[] types = Model["types"].ToString().Split(',');
    var keysnotsame = Model["keysnotsame"].ToString().Split(',');
    var notnull = Model["notnull"].ToString().Split(',');
    var addmore = Model["addmore"].ToString().Split(',');
   
}
<script>
    function openscan() {
        //$("#input-invoice-mb").modal("show");
        window.flutter_inappwebview.callHandler('mySum', "scan").then(function (result) {
            // get result from Flutter side. It will be the number 64.
            console.log(result);
        });
    }
    
    function callscanApp() {
        
        scancode.postMessage("");
    }
    function bindcode(o) {
        
        if (!$('#input-invoice-mb').is(':visible')) {
            $("#input-invoice-mb").modal("show");
        }
        $(".codeitem").val(o);
        setTimeout(function () { checkandbindItem($(".codeitem")); }, 1000);
        
       
    }
</script>
<style>
    .input_number{
        text-align:right
    }
</style>

<div class="modal" id="input-invoice-mb">
    <div class="modal-dialog" style="max-width: 100%;">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table id="tb-data">
                    <thead style="display:none">
                        <tr>
                            <th col="">Sott</th>
                            @for (var i = 0; i < title.Length; i++)
                            {
                                if (columnsum.Contains(column[i]))
                                {
                                    if (sumend[0] == column[i])
                                    {
                                        sumend[0] = columnsum.ToList().IndexOf(column[i]).ToString();
                                    }
                                    <th col="@column[i]" class="sumdata">@title[i]</th>
                                }
                                else
                                {
                                    <th col="@column[i]">@title[i]</th>
                                }

                            }
                            <th col=""></th>
                        </tr>

                    </thead>
                    <tr id="trheader">
                        <td>
                            @for (var i = 0; i < title.Length; i++)
                            {
                                string subclass = "onlybind";
                                if (types[i].Contains("calculator"))
                                {
                                    subclass = subclass + " calculator";
                                }
                                if (keysnotsame.Contains(column[i]))
                                {
                                    subclass = subclass + " keycode";
                                }
                                if (notnull.Contains(column[i]))
                                {
                                    subclass = subclass + " notnull";
                                }
                                if (addmore.Contains(column[i]))
                                {
                                    subclass = subclass + " addmore";
                                }
                                <span style="float:left">@title[i]</span>
                                <span col="@column[i]" class="binddata @subclass" types="@Html.Raw(types[i])" id="@column[i]" style="clear:both">

                                    @if (types[i] == "strings")
                                    {
                                        <input type="text" class="@column[i]" />
                                    }
                                    else if (types[i] == "numbers")
                                    {

                                        <input type="text" class="input_number @column[i]" />
                                    }
                                    else if (types[i].Contains("textbind"))
                                    {
                                        string[] para = types[i].Split('-');
                                        if (para[para.Length - 1] == "numbers")
                                        {
                                            <input type="text" class="@column[i] input_number" style="max-width: 100px;" />
                                        }
                                        else
                                        {
                                            <input type="text" class="@column[i]" />
                                        }
                                    }
                                </span><br />
                            }
                        </td>

                    </tr>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"  onclick="addItem(this)">Add</button>
            </div>

        </div>
    </div>
</div>
<table class="table table-head-fixed text-nowrap ">
    <tbody id="body-data">
       
    </tbody>

</table>
