﻿@model Dictionary<string, object>
@{
    var column = Model["column"].ToString();
    var title = Model["title"].ToString();
    var value = Model["value"].ToString();
    var from_ = Model["from"].ToString();
    var subclass = Model["subclass"].ToString();
    string ipt = "";
    if (subclass.Contains("keys")|| subclass.Contains("notnull"))
    {
        ipt = "<span class='notnulls'>(*)</span>";
    }
    <div class="_input">
        <div class="_title">@Html.Raw(title) @Html.Raw(ipt)</div>
        <input type="text" errnote="@title" class="databade_ @column @from_ @subclass @Model["keyevent"]" name="@column" value="@value" autocomplete="off">
    </div>
}