﻿@model Dictionary<string, object>
@using Newtonsoft.Json;
<style>
    .td-icon img {
        width: 50px;
    }

    #ul-dl-mobile td {
        padding: 0;
        border-bottom: 5px solid #FFFF
    }

    .td-icon {
        text-align: center
    }

    #ul-dl-mobile p {
        text-align: left;
        padding: 0 10px;
        margin: 0;
    }

    td:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    td:last-child {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    .btn-control {
        display: block;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: #599ada;
        height: 33px;
        border-radius: 5px;
        color: #fff;
        float: left;
        margin: 5px
    }
    .circle {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        margin-left: 0 !important;
    }
    .header-row {
        background: #17a2b8;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px !important;
        color: #fff;
        text-align: left;
    }
        .header-row span {
            margin-left: 10px;
        }
    .span-1 {
        float: left;
        text-align:left;
    }
    .div-oneline{
        clear:both;
    }
    .span-2 {
        float: right;
        padding-right: 5px
    }
        .td-content p {
            clear: both;
            margin: 0
        }
    .td-content {
        padding-bottom: 10px!important;
    }
</style>
@{
    Common cmd = new Common();
    var userAgent = Context.Request.Headers["User-Agent"].ToString().ToLower();
    var mb = cmd.ismobile(userAgent);
    var title = Model["title"].ToString().Split(',');
    var data = (List<Dictionary<string, object>>)Model["data"];
    var typedata = Model["typedata"].ToString().Split(',');
    var cldata = Model["cldata"].ToString().Split(',').ToList();
    string friend_url = Model["friend_url"].ToString();
    string tables = Model["table"].ToString();
    int order = int.Parse(Model["order"].ToString());
    string source = Model["source"].ToString();
    var rowheader = Model["rowheader"].ToString().Split(',').ToList();
    var oneline = Model["oneline"].ToString().Split(',').ToList();
    List<string> action = new List<string>();
    try { action = (List<string>)Model["action"]; } catch { }
    List<Dictionary<string, object>> lsubdata = (List<Dictionary<string, object>>)Model["lsubdata"];
    string customsubdata(string table, string para, string clget, string listcolumn)
    {
        try
        {
            List<string> name = new List<string>();
            if (para != "")
            {
                string[] l_ = para.Split(",");
                string[] lcl = listcolumn.Split("&");
                var o = (List<Dictionary<string, object>>)lsubdata.FirstOrDefault(s => s["table"].ToString() == table)["data"];
                foreach (var j in l_)
                {
                    string names = "";

                    var names_ = o.FirstOrDefault(s => s[clget].ToString() == j);
                    foreach (var c in lcl)
                    {
                        names += names_[c].ToString();
                    }
                    if (!mb)
                    {
                        name.Add("<p style='margin:0'>" + names + "</p>");
                    }
                    else
                    {
                        name.Add(names);
                    }
                }
            }
            return string.Join("", name);
        }
        catch
        {
            return para;
        }
    }
    string namesubdata(string table, string para, string clget)
    {
        try
        {
            List<string> name = new List<string>();
            if (para != "")
            {
                string[] l_ = para.Split(",");
                var o = (List<Dictionary<string, object>>)lsubdata.FirstOrDefault(s => s["table"].ToString() == table)["data"];
                foreach (var j in l_)
                {
                    string names = "";

                    names = o.FirstOrDefault(s => s[clget].ToString() == j)["name_"].ToString();

                    if (!mb)
                    {
                        name.Add("<p style='margin:0'>" + names + "</p>");
                    }
                    else
                    {
                        name.Add(names);
                    }
                }
            }
            return string.Join("", name);
        }
        catch
        {
            return para;
        }
    }
    string namestatusinvoice(string table, string para, string clget)
    {
        try
        {
            string name = "";
            if (para != "")
            {
                var o = (List<Dictionary<string, object>>)lsubdata.FirstOrDefault(s => s["table"].ToString() == table)["data"];
                name = o.FirstOrDefault(s => s[clget].ToString() == para)["name_"].ToString();
            }
            return name;
        }
        catch
        {
            return para;
        }
    }
    string getalldata(string str)
    {
        string[] w = str.Split('-');
        var all = (List<Dictionary<string, object>>)lsubdata.FirstOrDefault(s => s["table"].ToString() == w[1])["data"];
        List<string> name = new List<string>();
        foreach (var j in all)
        {
            name.Add("<p style='margin:0'>" + j["name_"].ToString() + "</p>");
        }

        return string.Join("", name);
    }
    string convervalue(string strtype, string clget, Dictionary<string, object> data_)
    {
        var vl = data_[clget].ToString();
        if (strtype == "numbers")
        {
            vl = cmd.convertNumberToString(vl);
        }
        else if (strtype == "photo")
        {

            string[] photo = vl.ToString().Split(',');
            vl = Model["pathfile"] + photo[0];
        }
        else if (strtype == "printjson")
        {
            Dictionary<string, object> v_ = new Dictionary<string, object>();
            v_["infor"] = vl;
            v_["detail"] = data_["detailbill"];
            vl = JsonConvert.SerializeObject(v_);
        }
        else if (strtype.Contains("getvlfromkey-") || strtype.Contains("tooltip-"))
        {
            string[] table = strtype.Split('-');
            if (table.Length <= 3)
            {
                vl = namesubdata(table[1], vl, table[2]);
            }
            else
            {
                vl = customsubdata(table[1], vl, table[2], cmd.decodeHtml(table[3]));
            }
        }
        else if (strtype.Contains("salebtn") || strtype.Contains("importbtn"))
        {
            if (vl == "")
            {
                vl = strtype + "/" + data_["id"].ToString();
            }
        }
        else if (strtype.Contains("statusiv-"))
        {
            string[] table = strtype.Split('-');
            vl = namestatusinvoice(table[1], vl, "id");
        }
        else if (strtype.Contains("connectcl-"))
        {
            string[] table = strtype.Split('-')[1].Split('/');
            var jdata = JsonConvert.DeserializeObject<List<dynamic>>(vl);
            List<string> lvl_ = new List<string>();
            foreach (var js in table)
            {
                lvl_.Add(jdata.FirstOrDefault(s => s.cl.ToString() == js).vl.ToString());
            }
            vl = string.Join(" ", lvl_);
        }
        else if (strtype.Contains("getalldata"))
        {
            vl = getalldata(strtype);
        }
        else if (strtype.Contains("jsoninfor"))
        {
            var cltm = strtype.Split('-')[1];
            var js = JsonConvert.DeserializeObject<List<dynamic>>(data_[cltm].ToString());
            vl = js.FirstOrDefault(s => s.cl.ToString() == clget).vl;
        }
        else if (strtype.Contains("date-"))
        {
            string[] fmat = strtype.Split('-');
            if (vl != "")
            {
                vl = DateTime.Parse(vl).ToString(fmat[1]);
            }
        }
        else if (strtype.Contains("viewfrom-") || strtype.Contains("datain-"))
        {
            string[] vfrom = strtype.Split('-');
            dynamic newvl = new System.Dynamic.ExpandoObject();
            newvl.name = data_["name_"].ToString();
            newvl.vl = data_[vfrom[3]].ToString();
            newvl.clcpare = vfrom[2].ToString();

            if (strtype.Contains("viewfrom-"))
            {
                newvl.search = "same";
            }
            else if (strtype.Contains("datain-"))
            {
                newvl.search = "in";
            }
            vl = JsonConvert.SerializeObject(newvl);
        }
        return vl;
    }
    string membercard(string para)
    {
        try
        {
            if (para == "")
                para = "0";
            double vls = cmd.convertNumberDouble(para);
            var o = (List<Dictionary<string, object>>)lsubdata.FirstOrDefault(s => s["table"].ToString() == "membercard")["data"];
            var card = o.FirstOrDefault(s => cmd.convertNumberDouble(s["valfrom"].ToString()) < vls && cmd.convertNumberDouble(s["valto"].ToString())>= vls)["name_"].ToString();
            return card;
        }
        catch
        {
            return "";
        }
    }
    }
    @if (!mb)
    {
    <div class="card-body table-responsive p-0" style="max-height: 400px;">
        <table class="table responsive-table table-head-fixed text-nowrap">
            <thead>
                <tr>
                    @for (var m = 0; m < title.Length; m++)
                    {
                        string sum = "";
                        if (typedata[m].Trim() == "numbers")
                        {
                            // sum = "(" + cmd.convertNumberToString(Model.data.sumdata.FirstOrDefault(s => s.cl.ToString() == cldata[m]).vl.ToString()) + ")";
                        }
                        else if (typedata[m].Trim() == "sott")
                        {
                            // sum = "(" + cmd.convertNumberToString(countdata.ToString()) + ")";
                        }
                        <th scope="col" class="@typedata[m].Trim()">@title[m].Trim()<br />@sum</th>
                    }
                    
                </tr>

            </thead>
            <tbody class="@Model["sort"]">
                @foreach (var i in data)
                {
                    int bg = 0;
                    <tr iddata="@i["id"]" id="row_data_@i["id"]">
                        @foreach (var j in title)
                        {
                            string clget = cldata[bg].Trim();
                            string strtype = typedata[bg].Trim();
                            var vl = i[clget].ToString();

                            if (strtype == "membercard")
                            {
                                vl =membercard((cmd.convertNumberDouble(i["moneysale"].ToString())- cmd.convertNumberDouble(i["moneyreturn"].ToString())).ToString());
                            }
                            else if (strtype == "sott")
                            {
                                vl = order.ToString();
                                order++;
                            }
                            else
                            {
                                vl = convervalue(strtype, clget, i);
                            }

                            var datapass = new List<string>() { strtype, vl, "",friend_url };
                            Html.RenderPartial("~/Views/Shared/ViewTdDisplay.cshtml", datapass);

                            bg++;
                        }
                        
                    </tr>

                }

            </tbody>
        </table>
    </div>
}
else
{
   
    <div class="tb-mobile">

        <table id="ul-dl-mobile">
            @foreach (var i in data)
            {
                int bg = 0;
                var photos = "";
                try
                {
                    photos = i["photo"].ToString();
                    string[] photo = photos.ToString().Split(',');
                    photos = Model["pathfile"] + photo[0];
                }
                catch { }
                <tr>
                   @if (photos != "")
                   {
                    <td class="td-icon">
                        <img src="@photos" />
                    </td>
                   }
                <td class="td-content">
                    <div class="header-row">
                        @foreach (var h in rowheader)
                        {
                            if (h == "")
                            {
                                continue;
                            }
                            string titleh_ = h+": ";
                            var h_ = h.Split('/').ToList();
                            if (h_.IndexOf("none") != -1)
                            {
                                titleh_ = "";
                            }
                            var indexhd = title.ToList().IndexOf(h_[0]);
                            var typehd = typedata[indexhd];

                       
                            if (typehd == "sott")
                            {
                                <span class="circle" style="float:left">@order.ToString()</span>
                                order++;
                            }
                            else
                            {
                                var vlhd = convervalue(typehd, cldata[indexhd], i);
                                if (typehd == "membercard")
                                {
                                    vlhd =membercard((cmd.convertNumberDouble(i["moneysale"].ToString())- cmd.convertNumberDouble(i["moneyreturn"].ToString())).ToString());
                                }
                                var datapass = new List<string>() { typehd, vlhd, "", titleh_, friend_url };
                                <span>@Html.Partial("~/Views/MobileLayout/CtrDisplay.cshtml", datapass)  </span>
                            }
                        }
                    </div>
                    @foreach (var o in oneline)
                    {
                        if (o == "")
                        {
                            continue;
                        }
                        string[] oline = o.Split('-');
                        var span = 1;
                        var classonline = "div-oneline";
                        if (oline.Count() > 2)
                        {
                            classonline = "div-oneline-btn";
                        }
                        <div class="@classonline">
                            @foreach (var k in oline)
                            {
                                var indexol = title.ToList().IndexOf(k);
                                var typeol = typedata[indexol];
                                var titleol = title[indexol];
                                var vlol = convervalue(typeol, cldata[indexol], i);
                                if (typeol == "membercard")
                                {
                                    vlol =membercard((cmd.convertNumberDouble(i["moneysale"].ToString())- cmd.convertNumberDouble(i["moneyreturn"].ToString())).ToString());
                                }
                                var datapass = new List<string>() { typeol, vlol, "", titleol+": ",friend_url };
                                <div class="span-@span">@Html.Partial("~/Views/MobileLayout/CtrDisplay.cshtml", datapass)</div>
                                span++;
                            }
                        </div>
                    }
                        @foreach (var j in title)
                        {

                            string clget = cldata[bg].Trim();
                            if (Model["rowheader"].ToString().Contains(j) || Model["oneline"].ToString().Contains(j))
                            {
                       
                                bg++;
                                continue;
                            }
                            string strtype = typedata[bg].Trim();
                            var vl = i[clget].ToString();
                            if (strtype == "membercard")
                                {
                                    vl =membercard((cmd.convertNumberDouble(i["moneysale"].ToString())- cmd.convertNumberDouble(i["moneyreturn"].ToString())).ToString());
                                }
                            else if (strtype == "sott")
                            {
                                vl = order.ToString();
                                order++;
                            }
                            else
                            {
                                vl = convervalue(strtype, clget, i);
                            }
                            if (strtype != "photo")
                            {
                                var datapass = new List<string>() { strtype, vl, "", j+": ",friend_url };
                                Html.RenderPartial("~/Views/MobileLayout/CtrDisplay.cshtml", datapass);
                            }

                            bg++;
                        }

                    </td>

                </tr>

            }

        </table>
    </div>
}