﻿@model Dictionary<string, object>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    string vlue = Model["value"].ToString();
    string columnassign = Model["columnassign"].ToString();
    string columnget = Model["columnget"].ToString();
    string table = Model["table"].ToString();
    string err = Model["errnote"].ToString();
    string sub_class = Model["subclass"].ToString();
    var from_ = Model["from"].ToString();
    Sqlcommon sql = new Sqlcommon();
    string str_au = "select name_," + columnget + " from " + table + "";
    var datas = sql.getdataSQLstr(str_au);

}
    <script>
        $(function () {
            var vl = '@vlue';
            if (vl=="") {
                $("input:radio[name=group_@columnassign]:first").prop('checked', true);
            }
        })
    </script>
<p class="option-@columnassign @columnassign optionone @from_" err="@err" id="optionone-@columnassign" group="group_@columnassign" column="@columnassign">
    @foreach (var i in datas)
    {
        string check = "";
        if (i[columnget].ToString() == vlue)
        {
            check = "checked";
        }
        <span class="radio-btn">
            <input type="radio" name="group_@columnassign" value="@i[columnget]" id="rdi_@columnassign@i[columnget]" @check /><label for="rdi_@columnassign@i[columnget]">@i["name_"]</label>
        </span>
    }
</p>