﻿@model List<string>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var data = Model[0];
    var vl = Model[1];
    var pathimg = Model[2];
    var url = Model[3];

}
@using Newtonsoft.Json;
    <td data-title="@data" class="@data">
        @if (data == "sott")
        {
            @vl
        }
        else if (data == "photo")
        {
            <img src='@vl' style="width:25px" class='img_up'>
        }
        else if (data.Contains("salebtn") || data.Contains("importbtn"))
        {
            var vls_ = vl.Split('/');
            var vliv_ = vls_[0].Split('-');
            string label = "xuất bán";
            if (data.Contains("importbtn"))
            {
                label = "nhập kho";
            }
            if (vliv_.Length > 1)
            {
                <a href="/Action/CreateInvoice/@vliv_[2]?id=@vls_[1]&obj=@vliv_[1]">@label</a>
            }
            else
            {
                <a href="/Action/PrintInvoice?objtb=@data.Split('-')[2]&code=@vls_[0]">in phiếu</a>
            }
        }
        else if (data == "check")
        {
            if (vl == "1")
            {
                <input type="checkbox" checked disabled />
            }
            else
            {
                <input type="checkbox" disabled />
            }
        }
        else if (data == "attribute")
        {
            if (vl != "")
            {
                List<dynamic> db = JsonConvert.DeserializeObject<List<dynamic>>(vl);

                @foreach (var dnm in db)
                {
                    <p class="p_attr"><span class="name_attr">@dnm.name.ToString()</span>: <span class="ct_attr">@dnm.vl.ToString()</span></p>
                }

            }

        }
        else if (data.Contains("viewfrom-") || data.Contains("datain-"))
        {
            string[] oview = data.Split('-');
            var newvl = JsonConvert.DeserializeObject<dynamic>(vl);
            if (newvl.vl.ToString() != "")
            {
                <a href="javascript:void(0)" search="@newvl.search.ToString()" clcpare="@newvl.clcpare.ToString()" objref="@oview[1]" objindex="@oview[2]" obj="detail_@oview[1]" onclick="viewdetailPr(this)" name="@newvl.name.ToString()" code="@newvl.vl.ToString()" pathimg="@pathimg">view</a>
            }
        }
        else if (data.Contains("tooltip-"))
        {
            <p>@vl</p>
            Html.RenderPartial("~/Views/Shared/ViewTooltip.cshtml", vl);

        }
        else if (data.Contains("importbtn-"))
        {
            string[] oview = data.Split('-');
            var newvl = JsonConvert.DeserializeObject<dynamic>(vl);
            if (newvl.vl.ToString() != "")
            {
                <a href="javascript:void(0)">nhập kho</a>
            }
        }
        else if (data == "detailinvent")
        {
            <a href="javascript:void(0)" onclick="viewdatainventory(this)" data="@vl">detail</a>
        }
        else if (data == "editbtn")
        {
            <a href="/Action/Create/@url/@vl" class="btnedit" data="@vl">Edit</a>
        }
        else if (data == "deletebtn")
        {
            <a href="javascript:void(0)" class="btnedit" onclick="deleterecord(this)" obj="@ViewBag.obj" data="@vl">delete</a>
        }
        else if (data.Contains("viewJson"))
        {

            if (vl.ToString() != "" && vl.ToString() != "[]")
            {
                var target = data.Split('-');
                <a href="javascript:void(0)" targetobj="@target[1]" onclick="viewdatajson(this)" data="@vl">detail</a>
            }
            else
            {
                vl = "";
            }
        }
        else if (data.Contains("color"))
        {
            <div style="background-color:@vl;height: 20px;"></div>
        }
        else if (data.Contains("statusiv"))
        {
            if (vl != "")
            {
                <a href="javascript:void(0)" onclick="changestatus(this)" class="statusbill-a">@Html.Raw(vl)</a>
            }
            else
            {
                <a href="javascript:void(0)" onclick="changestatus(this)" class="statusbill-a">đổi trạng thái</a>
            }
        }
        else if (data == "printjson")
        {
            dynamic vlnew = JsonConvert.DeserializeObject<dynamic>(vl);
            <a href="javascript:void(0)" data="@vlnew.infor" detail="@vlnew.detail" onclick="printInvoice(this)">print</a>
        }
        else
        {
            @Html.Raw(vl)
        }
    </td>