﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using System.IO
@using Newtonsoft.Json
@{ 
    <script>
        var citycode = [];
        var city = [];
        var distrcode = [];
        var distr = [];
       @{
           List<dynamic> city = JsonConvert.DeserializeObject<List<dynamic>>(File.ReadAllText("../Webserver/wwwroot/Citys.txt"));
           List<dynamic> distr = JsonConvert.DeserializeObject<List<dynamic>>(File.ReadAllText("../Webserver/wwwroot/Township.txt"));

        }
        citycode =@city.Select(s => s["ma"]).ToList();
        city=@city.Select(s => s["ten"]).ToList();
        function getcity(o) {
            var idex = citycode.indexOf(o);
            return city[idex];
        }
    </script>
}
