﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.IO
@using Newtonsoft.Json

<div class="location_address" name="@Model.column_">
    <div class="_input">
        <div class="_title">Địa chỉ</div>
        <input type="text" class="address_" name="" value="@Model.Address" />
    </div>
    @{
        List<dynamic> Township = JsonConvert.DeserializeObject<List<dynamic>>(File.ReadAllText("../Webserver/wwwroot/Township.txt"));
        List<dynamic> city = JsonConvert.DeserializeObject<List<dynamic>>(File.ReadAllText("../Webserver/wwwroot/Citys.txt"));
     }
    <div class="_input">
        <div class="_title">Tỉnh/Tp</div>
        <select class="city" onchange="selectCity(this)">
            <option code="-1">Chọn tỉnh/Tp</option>
            @{
                 foreach (var i in city)
                {
                    if (Model.city == i["ma"].ToString())
                    {
                        <option code="@i["ma"]" selected>@i["ten"]</option>
                    }
                    else
                    {
                        <option code="@i["ma"]">@i["ten"]</option>
                    }
                }
            }
        </select>
    </div>
    <div class="_input">
        <div class="_title">Quận huyện</div>
        <select class="distrist">
            @if (Model.distrist != "")
            {
                var o = Township.Where(s => s["maT"].ToString() == Model.city.ToString()).ToList();
                foreach (var i in o)
                {
                    if (Model.distrist.ToString() == i["ma"].ToString())
                    {
                        <option mat="@i["maT"]" code="@i["ma"]" selected>@i["ten"]</option>
                    }
                    else
                    {
                        <option mat="@i["maT"]" code="@i["ma"]">@i["ten"]</option>
                    }
                }
            }

        </select>
    </div>
    </div>
<select id="all_district" style="display:none">
    @{
        
        foreach (var i in Township)
        {
            <option maT="@i["maT"]" code="@i["ma"]">@i["ten"]</option>
        }
    }
</select>
<script>

    function selectCity(o) {
        $(".distrist").empty();
        var option = $(o).find(":selected");
        var code = $(option).attr("code");
        $("#all_district option").each(function (index) {
            if ($(this).attr("maT") === code) {
                $(this).appendTo(".distrist");
            }
        });
        
    }
</script>