﻿@model ReportModel
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Home Page";
    Sqlcommon sql = new Sqlcommon();
    Common cmd = new Common();
    List<string> p = new List<string>() { "name_", "size", "qlt", "pricesale", "total" };
    List<string> pt = new List<string>() { "stt", "Hình", "Ngày", "Tên", "Dung tích", "Sl", "Đơn giá", "Thành tiền" };
    string getnamewh(string id)
    {
        try
        {
            return Model.warehouse.FirstOrDefault(s => s["id"].ToString() == id)["name_"].ToString();
        }
        catch
        {
            return id;
        }
    }
}
<link href="~/css/tabcss.css" rel="stylesheet" />
<style>
    .content-wrapper{
        padding:10px
    }
</style>
<input type="hidden" id="namevn" value="Home" />
<form method="post">
    <p>
        <input type="text" class="datepicker" name="datefrom" value="@Model.datefrom" />
        <input type="text" class="datepicker" name="dateto" value="@Model.dateto" />
        <select name="wheahouse">
            @{
                if (Model.warehouse != null)
                {
                    foreach (var w in Model.warehouse)
                    {
                        <option value="@w["id"]">@w["name_"]</option>
                    }
                }
            }
        </select>
        <input type="submit" value="search" />
    </p>
</form>

<ul id="layouts">
    <li idfor="sale" class="liactive">doanh số</li>
    <li idfor="moneypayrec">thu chi</li>
    <li idfor="import">nhập hàng</li>
    <li idfor="export">xuất hàng</li>
    <li idfor="returnItem">khách trả hàng</li>
    <li idfor="inven">tồn kho</li>
</ul>
@if (Model.datefrom.ToString() != "")
{
<div class="li-content" id="inven">
    <div class="card-body table-responsive p-0" style="max-height: 300px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>
                <tr>
                    <th>Danh mục</th>
                    @foreach (var k in Model.warehouse)
                    {
                        <th>@k["name_"]</th>
                    }
                    <th>tồn tổng</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var i in Model.catelogy)
                    {
                        double suminvent = 0;
                                <tr>
                                    <td>@i["name_"]</td>
                                    @foreach (var w in Model.warehouse)
                                    {
                                        var iv = Model.inventorys(i["id"].ToString(), w["id"].ToString());
                                        suminvent +=double.Parse(iv);
                                        <td>@iv</td>
                                    }
                                    <td>@suminvent</td>
                                </tr>
                       
                    }
                }
            </tbody>
        </table>

    </div>
 
</div>
<div class="li-content" id="sale" style="display:block">
    <div class="card-body table-responsive p-0" style="max-height: 300px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>
                <tr>
                    @foreach (var g in pt)
                    {
                        <th>@g</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    int o = 1;
                    foreach (var i in Model.sale)
                    {
                        var dt = JsonConvert.DeserializeObject<List<dynamic>>(i["detailbill"].ToString());
                        foreach (var k in dt)
                        {
                            <tr>

                                <td>@o</td>
                                <td><img src="/imgWeb/san_pham/@k["img"]" class="icon-class" /></td>
                                <td>@i["datebill"]</td>
                                @foreach (var j in p)
                                {
                                    <td>@k[j]</td>
                                }
                            </tr>
                            o++;
                        }
                    }
                }
            </tbody>
        </table>

    </div>
    <table class="table">
        <tr>
            <td class="ttile-rigth">số lượng</td>
            <td>@cmd.fotmatmoney(Model.sale.Sum(s => double.Parse(s["totalqlt"].ToString())).ToString())</td>
        </tr>
        <tr>
            <td class="ttile-rigth">Tổng Giảm</td>
            <td>@cmd.fotmatmoney(Model.sale.Sum(s => double.Parse(s["moneydiscount"].ToString())).ToString())</td>
        </tr>
        <tr>
            <td class="ttile-rigth">thành tiền</td>
            <td>@cmd.fotmatmoney(Model.sale.Sum(s => double.Parse(s["totalmoney"].ToString())).ToString())</td>
        </tr>
        <tr>
            <td class="ttile-rigth">chuyển khoản</td>
            <td>@cmd.fotmatmoney(Model.sale.Sum(s => double.Parse(s["paymentbank"].ToString())).ToString())</td>
        </tr>
        <tr>
            <td class="ttile-rigth">cà thẻ</td>
            <td>@cmd.fotmatmoney(Model.sale.Sum(s => double.Parse(s["paymentcard"].ToString())).ToString())</td>
        </tr>
        <tr>
            <td class="ttile-rigth">tiền mặt</td>
            <td>@cmd.fotmatmoney(Model.sale.Sum(s => double.Parse(s["paymentmoney"].ToString())).ToString())</td>
        </tr>
        <tr>
            <td class="ttile-rigth">ghtk</td>
            <td>@cmd.fotmatmoney(Model.sale.Sum(s => double.Parse(s["paymentghtk"].ToString())).ToString())</td>
        </tr>
        <tr>
            <td class="ttile-rigth">tiền trả lại</td>
            <td>@cmd.fotmatmoney(Model.sale.Sum(s => double.Parse(s["moneyreturn"].ToString()) * (-1)).ToString())</td>
        </tr>
    </table>
</div>
<div class="li-content" id="moneypayrec">
    <div class="card-body table-responsive p-0" style="max-height: 300px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>
                <tr>
                    <th>stt</th>
                    <th>hình ảnh</th>
                    <th>ngày</th>
                    <th>kho thu</th>
                    <th>tiêu đề</th>
                    <th>ghi chú</th>
                    <th>chuyển khoản</th>
                    <th>tiền mặt</th>
                </tr>
            </thead>
            <tbody>
                @{
                    o = 1;
                    foreach (var i in Model.recei)
                    {

                        <tr>
                            <td>@o</td>
                            <td><img src="/imgWeb/@i["photos"]" onerror="$(this).remove()" class="icon-class" /></td>
                            <td>@i["datebill"]</td>
                            <td>@getnamewh(i["warehouse"].ToString())</td>
                            <td>@i["name_"]</td>
                            <td>@i["note"]</td>
                            <td>@cmd.fotmatmoney(i["moneybank"].ToString())</td>
                            <td>@cmd.fotmatmoney(i["money"].ToString())</td>
                        </tr>
                        o++;

                    }
                }
            </tbody>
        </table>

    </div>
    <div class="div-sum-report">
        <div class="conten-sum"><div>chuyển khoản:</div><span>@cmd.fotmatmoney(Model.recei.Sum(s => double.Parse(s["moneybank"].ToString())).ToString())</span></div>
        <div class="conten-sum"><div>tiền mặt:</div><span>@cmd.fotmatmoney(Model.recei.Sum(s => double.Parse(s["money"].ToString())).ToString())</span></div>
    </div>
    <div class="card-body table-responsive p-0" style="max-height: 300px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>
                <tr>
                    <th>stt</th>
                    <th>hình ảnh</th>
                    <th>ngày</th>
                    <th>kho chi</th>
                    <th>tiêu đề</th>
                    <th>ghi chú</th>
                    <th>chuyển khoản</th>
                    <th>tiền mặt</th>
                </tr>
            </thead>
            <tbody>
                @{
                    o = 1;
                    foreach (var i in Model.pay)
                    {

                        <tr>
                            <td>@o</td>
                            <td><img src="/imgWeb/@i["photo"]"  onerror="$(this).remove()" class="icon-class" /></td>
                            <td>@i["datebill"]</td>
                            <td>@getnamewh(i["warehouse"].ToString())</td>
                            <td>@i["name_"]</td>
                            <td>@i["note"]</td>
                            <td>@cmd.fotmatmoney(i["moneybank"].ToString())</td>
                            <td>@cmd.fotmatmoney(i["money"].ToString())</td>
                        </tr>
                        o++;

                    }
                }
            </tbody>
        </table>

    </div>
    <div class="div-sum-report">
        <div class="conten-sum"><div>chuyển khoản:</div><span>@cmd.fotmatmoney(Model.pay.Sum(s => double.Parse(s["moneybank"].ToString())).ToString())</span></div>
        <div class="conten-sum"><div>tiền mặt:</div><span>@cmd.fotmatmoney(Model.pay.Sum(s => double.Parse(s["money"].ToString())).ToString())</span></div>
    </div>
</div>
<div class="li-content" id="import">
    <div class="card-body table-responsive p-0" style="max-height: 300px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>
                <tr>
                    @foreach (var g in pt)
                    {
                        <th>@g</th>
                    }
                    <th>Kho nhập</th>
                </tr>
            </thead>
            <tbody>
                @{
                    o = 1;
                    foreach (var i in Model.import)
                    {
                        var dt = JsonConvert.DeserializeObject<List<dynamic>>(i["detailbill"].ToString());
                        foreach (var k in dt)
                        {
                            <tr>
                                <td>@o</td>
                                <td><img src="/imgWeb/san_pham/@k["img"]" class="icon-class" /></td>
                                <td>@i["datebill"]</td>
                                @foreach (var j in p)
                                {
                                    <td>@k[j]</td>
                                }
                                <td>@k["warehouse"]</td>
                            </tr>
                            o++;
                        }
                    }
                }
            </tbody>
        </table>

    </div>
    <div class="div-sum-report">
        <div class="conten-sum"><div>Tổng sl:</div><span>@cmd.fotmatmoney(Model.import.Sum(s => double.Parse(s["totalqlt"].ToString())).ToString())</span></div>
        <div class="conten-sum"><div>Tổng tiền:</div><span>@cmd.fotmatmoney(Model.import.Sum(s => double.Parse(s["totalmoney"].ToString())).ToString())</span></div>
    </div>
    
</div>
<div class="li-content" id="export">
   
    <div class="card-body table-responsive p-0" style="max-height: 300px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>
                <tr>
                    @foreach (var g in pt)
                    {
                        <th>@g</th>
                    }
                    <th>Kho xuất</th>
                </tr>
            </thead>
            <tbody>
                @{
                    o = 1;
                    foreach (var i in Model.export)
                    {
                        var dt = JsonConvert.DeserializeObject<List<dynamic>>(i["detailbill"].ToString());
                        foreach (var k in dt)
                        {
                            <tr>
                                <td>@o</td>
                                <td><img src="/imgWeb/san_pham/@k["img"]" class="icon-class" /></td>
                                <td>@i["datebill"]</td>
                                @foreach (var j in p)
                                {
                                    <td>@k[j]</td>
                                }
                                <td>@k["warehouse"]</td>
                            </tr>
                            o++;
                        }
                    }
                }
            </tbody>
        </table>

    </div>
    <div class="div-sum-report">
        <div class="conten-sum"><div>Tổng sl:</div><span>@cmd.fotmatmoney(Model.export.Sum(s => double.Parse(s["totalqlt"].ToString())).ToString())</span></div>
        <div class="conten-sum"><div>Tổng tiền:</div><span>@cmd.fotmatmoney(Model.export.Sum(s => double.Parse(s["totalmoney"].ToString())).ToString())</span></div>
    </div>
</div>
<div class="li-content" id="returnItem">
    <div class="card-body table-responsive p-0" style="max-height: 300px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>
                <tr>
                    @foreach (var g in pt)
                    {
                        <th>@g</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    o = 1;
                    foreach (var i in Model.return_)
                    {
                        var dt = JsonConvert.DeserializeObject<List<dynamic>>(i["detailbill"].ToString());
                        foreach (var k in dt)
                        {
                            <tr>
                                <td>@o</td>
                                <td><img src="/imgWeb/san_pham/@k["img"]" class="icon-class" /></td>
                                <td>@i["datebill"]</td>
                                @foreach (var j in p)
                                {
                                    <td>@k[j]</td>
                                }
                            </tr>
                            o++;
                        }
                    }
                }
            </tbody>
        </table>

    </div>
    <table class="table">
        <tr>
            <td class="ttile-rigth">số lượng</td>
            <td>@cmd.fotmatmoney(Model.return_.Sum(s => double.Parse(s["totalqlt"].ToString())).ToString())</td>
        </tr>
        <tr>
            <td class="ttile-rigth">thành tiền</td>
            <td>@cmd.fotmatmoney(Model.return_.Sum(s => double.Parse(s["totalmoney"].ToString())).ToString())</td>
        </tr>

    </table>
</div>

}
<script>
    $(document).ready(function () {
        $("#layouts li").click(function () {
            $("#layouts li").removeClass("liactive");
            $(this).addClass("liactive");
            $(".li-content").hide();
            $("#" + $(this).attr("idfor")).show();
        });
    });
</script>