﻿@model ReportModel
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Homepage";
    Common cmd = new Common();
    var salelocation =JsonConvert.SerializeObject(Model.sale.GroupBy(s => s["ward"]).Select(m => new { city =Startup.staticObjModel.searchname(m.Key.ToString(), "ward"), totalqlt = m.Sum(s=>cmd.convertNumberDouble(s["totalqlt"].ToString()))}).OrderByDescending(s=>s.totalqlt.ToString()).Take(10).ToList());
    string[] times = new string[] { "8:00-11:00", "11:00-14:00", "14:00-17:00", "17:00-20:00", "20:00-23:00" };
    string pay ="tiền mặt,cà thẻ,chuyển khoản,ghtk,tiền giảm";
    List<string> mnpay = new List<string> { "paymentmoney", "paymentcard", "paymentbank", "paymentghtk", "moneydiscount" };
    List<string> vlpay = new List<string>();
    List<string> moneyday = new List<string>();
    foreach(var i in times)
    {
        string[] t_ = i.Split('-');
        string rs = "0";
        try
        {
            rs=Model.sale.Where(s => cmd.CompareTime(s, i) == 0).Sum(s=>cmd.convertNumberDouble(s["totalqlt"].ToString())).ToString();
        }
        catch
        {

        }
        moneyday.Add(rs);
    }
    foreach(var j in mnpay)
    {
        var vl = "0";
        try
        {
            vl = Model.sale.Sum(s => cmd.convertNumberDouble(s[j].ToString())).ToString();
        }
        catch
        {
            vl = "0";
        }
        vlpay.Add(vl);
        //mnpay[0] = vl;
    }
            }
<script src="~/gstatic/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawAllChart);
    function drawAllChart() {
            drawChart();
            drawLocationbuy();
            drawMethodPay();
            //drawChartMonth();
        }
        function drawChart() {
            var times = ('@string.Join(";",times)').split(';');
            var dataArray = [['Element', 'Density', { role: "style" }]];
            var lvalue = ('@string.Join(";",moneyday)').split(';');

            for (var t = 0; t < times.length; t++) {
                dataArray.push([times[t].toString(),parseFloat(lvalue[t]), "#36c"]);
        }

        var data = google.visualization.arrayToDataTable(dataArray);
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            title: "So sánh thời gian bán trong ngày",
            bar: { groupWidth: "60%" },
            legend: { position: "none" },
        };
    var chart = new google.visualization.ColumnChart(document.getElementById("chart_time"));
    chart.draw(view, options);
    }
    function drawChartMonth() {

        var data = google.visualization.arrayToDataTable([
            ["Element", "Density", { role: "style" }],
            ["Tháng 1", 8.94, "#909"],
            ["Tháng 2", 10.49, "#909"],
            ["Tháng 3", 19.30, "#909"],
            ["Tháng 4", 10.49, "#909"],
            ["Tháng 5", 19.30, "#909"],
            ["Tháng 6", 8.94, "#909"],
            ["Tháng 7", 10.49, "#909"],
            ["Tháng 8", 19.30, "#909"],
            ["Tháng 9", 10.49, "#909"],
            ["Tháng 10", 19.30, "#909"],
            ["Tháng 11", 10.49, "#909"],
            ["Tháng 12", 19.30, "#909"],
        ]);

        var view = new google.visualization.DataView(data);
    view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            title: "Các tháng trong năm",
            bar: { groupWidth: "80%" },
            legend: { position: "none" },
        };
    var chart = new google.visualization.ColumnChart(document.getElementById("chart_month"));
    chart.draw(view, options);
    }
    function drawLocationbuy() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        var db =JSON.parse('@Html.Raw(salelocation)');
        for (var i = 0; i < db.length; i++) {
            data.addRows([
                [db[i].city, db[i].totalqlt],
            ]);
    }

    var options = {
            title: 'Top 10 khu vực bán hàng',

        };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
    }
    function drawMethodPay() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        var pay = ('@pay').split(",");
        var money = ('@string.Join(";", vlpay)').split(';');
        for (var i = 0; i < pay.length; i++) {
             data.addRows([
                [decodeEntities(pay[i]), parseFloat(money[i].toString())],
            ]);
    }

    var options = {
            title: 'Phương thức thanh toán',

        };

    var chart = new google.visualization.PieChart(document.getElementById('paychart'));
    chart.draw(data, options);
    }
</script>

<div id="piechart"></div>
<div id="paychart"></div>
<div id="chart_time"></div>

<div id="chart_month"></div>
