﻿@model List<string>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SqlTable sql = new SqlTable();
    var tbn = sql.GetTableNames();
}
<style>
    ul {
        list-style-type: none
    }

    li {
        float: left;
        padding: 10px;
    }
</style>
<script>
    function createliItem(a) {
        var s = "<li class='cl-sql' ondblclick='$(this).remove()'>" + a + "</li>";
        return s;
    }
    function importdata() {
        var datacl = [];
        var l = $("#oldcolumn .cl-sql").length;
        var l_ = $("#nowcolumn .cl-sql").length;
        if (l <= 0 || l_ <= 0) {
            alert("chọn column import");
            return false;
        }
        for (var i = 0; i < l; i++) {
            var h = {
                old: i,
                clnew: $("#nowcolumn .cl-sql:eq(" + i + ")").html()
            }
            datacl.push(h);
        }
        $("#colums").val(JSON.stringify(datacl));
        var iscode = $('#code').is(':checked');
     
        var infor = {
            table: $("#table-new").find("option:selected").text(),
            code: iscode
        }
     
        $("#table").val(JSON.stringify(infor));
       
    }
    $(document).ready(function () {
        $(".sortorder").sortable();
        $(".sortorder").disableSelection();
        $("#Import").click(function () {
            importdata();
          
        })
        $(".btn_export").click(function () {
            var clexp = [];
            $(".sub_data_column").each(function (index) {
                if ($(this).prop('checked')) {
                    var h = {
                        column: $(this).attr("name_vl")
                    }
                    clexp.push(h)
                }
            })
            var link = "/api/Api/exportOld?tables=" + $("#table-old").find("option:selected").val() + "&listcolumn=" + JSON.stringify(clexp);
            window.open(link);

        })
        $(".btn_addcolumn").click(function () {
            var clexp = [];
            var cip = $(this).attr("div-data");
            var ul = $(this).attr("ul-data");
            $("#" + ul).empty();
            $("#" + cip + " .sub_data_column").each(function (index) {
                if ($(this).prop('checked')) {
                    $(createliItem($(this).attr("name_vl"))).appendTo("#" + ul);
                }
            })

        })
        $("#table-old").change(function () {
            var brands = ["nhanhieu", "thongtin", "hinhdaidien", "mobile"];
            var pro = ["mah", "mavachsp", "tensp", "nhanhieu", "dungt", "gioitinh", "hinhanh", "video", "giaban", "giathitruong", "daban", "tonkho", "gioithieu", "congdung", "xuatxu", "namsx", "mota", "huongdau", "huonggiua", "huongcuoi", "giahienthi", "banchay", "bantaicuahang", "uudainhanvien", "sieusang", "sodungtich", "manhieu", "subimage", "gifset", "dulich", "mini", "nhtest", "sex", "phamtramgiam", "tonndc", "tontx", "tonkc","kmai"];
            var lcheck = [];
            $(".sub_div").hide();
            var tb = $(this).find("option:selected").text();
            var link = "/api/Api/GetcolumntableOld?table=" + tb;
            var data = JSON.parse(GetAjax(link));
            if (tb == "thongtinnhanhieux")
                lcheck = brands;
            else if (tb == "sanphams")
                lcheck = pro;
            $("#content").empty();
            for (var i = 0; i < data.length; i++) {
                var c_ = "";
             
                var d = data[i];
                if (lcheck.indexOf(d) > -1)
                    c_ = "checked";
                var p = '<p><input type="checkbox" class="sub_data_column" values="' + d + '" name_vl="' + d + '" id="' + d + '" ' + c_+'><label for="' + d + '">' + d + '</label></p>';
                $(p).appendTo("#content");
            }
            $(".sub_column").show();
        });
        $("#table-new").change(function () {
            var brands = ["name_", "descrip", "photodesk", "photo"];
            var pro = ["mah", "mavachsp", "tensp", "nhanhieu", "dungt", "gioitinh", "hinhanh", "video", "giaban", "giathitruong", "daban", "tonkho", "gioithieu", "congdung", "xuatxu", "namsx", "mota", "huongdau", "huonggiua", "huongcuoi", "giahienthi", "banchay", "bantaicuahang", "uudainhanvien", "sieusang", "sodungtich", "manhieu", "subimage", "gifset", "dulich", "mini", "nhtest", "sex", "phamtramgiam", "tonndc", "tontx", "tonkc", "kmai"];
            var lcheck = [];
            $(".sub_div").hide();
            var tb = $(this).find("option:selected").text();
            var link = "/api/sqlCtr/Getcolumntable?table=" + tb;
            var data = JSON.parse(GetAjax(link));
            $("#content-new").empty();
            for (var i = 0; i < data.length; i++) {
                var d = data[i];
                var p = '<p><input type="checkbox" class="sub_data_column" values="' + d.name + '" name_vl="' + d.name + '" id="' + d.name + '"><label for="' + d.name + '">' + d.name + '</label></p>';
                $(p).appendTo("#content-new");
            }
            $(".sub_new_column").show();
        });
    });
</script>
<select id="table-old">
    @foreach (var i in Model)
    {
        <option value="@i">@i</option>
    }
</select>
<ul id="oldcolumn" class="sortorder"></ul>
<p style="clear:both"></p>
<select id="table-new">
    @foreach (var i in tbn)
    {
        <option value="@i">@i</option>
    }
</select>
<ul id="nowcolumn" class="sortorder"></ul>
<div class="sub_div sub_column">
    <div id="content"></div>
    <input type="button" style="float:left" div-data="content" ul-data="oldcolumn" class="button btn_addcolumn" value="Add" onclick="$('.sub_div').hide()">
    <input type="button" style="float:right" class="button btn_export" value="export">
</div>
<div class="sub_div sub_new_column">
    <div id="content-new"></div>
    <input type="button" style="float:left" div-data="content-new" ul-data="nowcolumn" class="button btn_addcolumn" value="Add" onclick="$('.sub_div').hide()">

</div>
<p style="clear:both"></p>
<form method="post" enctype="multipart/form-data">
    <input type="file" id="excel_pr" name="files" />
    <input type="checkbox" id="code" /><label for="code">Tạo code</label>
    <input type="hidden" name="colums" id="colums" />
    <input type="hidden" name="table" id="table"/>
    <input type="submit" id="Import" style="float:left" div-data="content-new" ul-data="nowcolumn" class="button" value="Import">

</form>